

<div class="contenido">    
    <!-- Inicio  slider  -->
      

    

    <div class="video-container" style="margin-right: -90px;">

        <img style="width: 100%;" src="assets/imagenes/imagenblog2.jpg" alt="Mi GIF">
    

    <div class="texto-superpuesto subtitleMain text-center" style=" margin-left: 300px;">

        <div style="font-size: 45px; background-color: white; color: black; padding-left: 15px; padding-right: 15px;" class="animate-text delay-1">ACTORES Y ESCRITORES EXIGEN QUE LA CREATIVIDAD</div>

        <p class="animate-text delay-1" style="font-size: 35px;">QUE PERMITE LA FIDELIZACIÓN DE LOS CLIENTES EN HOLLYWOOD</p>

        <p class="animate-text delay-1" style="font-size: 50px; margin-top: -35px;">NO SEA DESARROLLADA CON IA.</p>
    
    </div>

    </div>
    <!-- Fin  slider  --> 


    <div class="row">

      <div class="container">

         

        <!-- Primera fila -->
             <div class="row">

              <div class="col-md-2"></div>

              <div class="col-md-8" style="background-color: transparent;">
                  <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                    
          
                          <strong><p class="consultora" style="line-height: 1; font-family: BebasNeueBold;"><span style=" font-size: 35px;">LA HUMANIZACIÓN COMIENZA EN CASA, SI NO HUMANIZAS A TUS COLABORADORES, ES MENOS CREÍBLE QUE HUMANICES A TUS CLIENTES.</span> 
                       
                          </p>
                        </strong>

                        <br>

                     
                  </div>
              </div>

              <div class="col-md-2"></div>
              
          </div>

      </div>

    </div>
 
</div>








 
 
 

  