

<div class="contenido">    
    <!-- Inicio  slider  -->
      

    

    <div class="video-container" style="margin-right: -90px;">

        <img style="width: 100%;" src="assets/imagenes/imagenblog2.jpg" alt="Mi GIF">
    

    <div class="texto-superpuesto subtitleMain text-center" style=" margin-left: 300px;">

        <p style="font-size: 43px; background-color: white; color: black; padding-left: 10px; padding-right: 10px;" class="animate-text delay-1">ACTORES Y ESCRITORES EXIGEN QUE LA CREATIVIDAD</p>

        <p class="animate-text delay-1" style="font-size: 35px;">QUE PERMITE LA FIDELIZACIÓN DE LOS CLIENTES EN HOLLYWOOD</p>

        <p class="animate-text delay-1" style="font-size: 50px; margin-top: -35px;">NO SEA DESARROLLADA CON IA.</p>
    
    </div>

    </div>
    <!-- Fin  slider  --> 


    <div class="row" style="background-color: white;">

      <div class="container">

        <div class="row text-center">


            <div class="col-md-12" style="padding-top: 25px; color: gray; margin-bottom: -25px;">30 Noviembre 2023</div>

        </div>

        <!-- Primera fila -->
             <div class="row">

              <div class="col-md-2"></div>

              <div class="col-md-8" style="background-color: transparent;">
                  <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                    
          
                          <strong><p class="consultora" style="line-height: 1; font-family: BebasNeueBold;"><span style=" font-size: 35px;">LA HUMANIZACIÓN COMIENZA EN CASA, SI NO HUMANIZAS A TUS COLABORADORES, ES MENOS CREÍBLE QUE HUMANICES A TUS CLIENTES.</span> 
                       
                          </p>
                        </strong>

                        <br>

                     
                  </div>
              </div>

              <div class="col-md-2"></div>
              
          </div>


          <div class="row text-center">


            <div class="col-md-11" style="margin-left: 50px; color: rgb(40, 31, 31); margin-top: -60px; padding-top: 10px; border-top: 1px solid rgb(50, 49, 49);">
            <img src="assets/imagenes/iconosblog/Recurso148.svg" style="width: 20px; padding-right: 5px;" alt=""> 

            <span style="font-size: 10px; padding-right: 20px;">mis visualizaciones</span>

            <img src="assets/imagenes/iconosblog/Recurso148.svg" style="width: 20px; padding-right: 5px;" alt=""> 

            <span style="font-size: 10px; padding-right: 20px;">4200</span>

            <img src="assets/imagenes/iconosblog/Recurso149.svg" style="width: 20px; padding-right: 5px;" alt=""> 

            <span style="font-size: 10px;">826 comentarios</span>
            </div>

            


        </div>

            <!-- Primera fila -->
            <div class="row text-center" style="margin-top: -30px;">

  
                <div class="col-md-11" style="background-color: transparent;">
                    <div class="card custom-card border-0" style="background-color: transparent; text-align: left;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
            
                            <strong><div style="font-size: 19px;"> La huelga de Hollywood: Renegociando la creatividad </div></strong>
                            
                          <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                            Sindicatos de actores y escritores han venido a denunciar la hostilidad de la industria cinematográfica.  Desde inicios de mayo el sindicato de escritores de hashtag #Hollywood ha estado en huelga para poder negociar mejores condiciones de trabajo: la protesta sigue y se suman a ella el sindicato de actores; ambos advierten de la necesidad de protestar pues el futuro de su trabajo está en juego.
                          </p>
                        
                        
                <strong><div style="font-size: 17px;"> Quienes crean las historias </div></strong>
                            
            
                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    Los escritores denuncian que mientras las productoras han aumentado sus ganancias, las condiciones de los escritores y sus salarios no, incluso cuentan que han visto desmejoradas muchas de sus condiciones y por eso hacen un llamado a poder renegociar su lugar en un negocio que desde el boom del streaming ha cambiado tanto. 
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    En la premiación de la Writers Guild Award, en la que la serie The Bear era galardonada como mejor serie, uno de sus escritores que hizo posible ese éxito cinematográfico confesó que había asistido a la gala con una cuenta de ahorro en números negativos. El escritor Alex O’Keefe confesó en su twitter que, además, tuvo que escribir viviendo en un pequeño apartamento en Brooklyn sin calefacción y con apagones que lo hacían ir a escribir la serie en una biblioteca local.
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    Parte de esta reclamación de los escritores, es que además de la falta de reconocimiento que sufren por parte de las productoras, son tratados como si cualquiera pudiera hacer su trabajo. Han prescindido de los escritores durante la fase de producción de las series y películas para así no tener que pagarles, olvidando que es durante esta fase que un escritor puede ajustar un guion y contribuir a mejorías que los actores o la producción misma no sería capaz de hacer. 
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    El oficio predilecto de Hollywood para ahorrar dinero es el de los escritores, que ahora han de ver cómo la industria pretende reemplazarlos con inteligencia artificial. Los escritores sienten que su libertad creativa, su trabajo y su arte han sido minados en la última década. Las peticiones del sindicato de escritores pasan por poder tener la oportunidad de negociar su posición en un negocio que cambió y de una u otra forma los está dejando atrás.
                </p>
                
                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    Cuartos de escritores: Los guionistas quieren preservar el sistema de escritura que estaba antes del streaming. Una vez el piloto de una serie era aceptado, se contrataba una docena de escritores que iban a un cuarto a escribir el resto de la serie y sacar así alrededor de 22 episodios. No obstante, con el cambio al streaming las series ahora duran menos episodios y las productoras han recortado estos cuartos de escritores con menos guionistas y menos tiempo de trabajo. Esto ha llevado a que un guionista tenga que recurrir a otros trabajos de medio tiempo debido a la falta de horas de trabajo como escritor que tiene.
                </p>


                <strong><div style="font-size: 17px;"> Quienes dan vida a las historias </div></strong>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    El 14 de Julio de este año el sindicato de actores SAG-AFTRA, se unió a los reclamos de los escritores y entraron en huelga denunciando unas condiciones parecidas a las denunciadas por los guionistas. Las negociaciones con la alianza de productores de cine y televisión fueron fallidas y esto llevó a que los actores entraran en huelga.
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    Vimos en el inicio de la huelga al elenco de Barbie y de Oppenheimer abandonar la premier de sus películas. Por su adhesión al sindicato, los actores no podían participar en eventos de promoción de las películas ya grabadas. El llamado a huelga ocurrió durante la premier de Oppenheimer, y nos dejó una postal del elenco unido abandonando el espacio en apoyo a la protesta.
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    La problemática de fondo sigue siendo la misma que con los escritores, el streaming cambió las reglas de juego y ha dejado a los trabajadores de la industria desfavorecidos mientras las productoras aumentan significativamente sus ingresos 
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    Kimiko Glenn, actriz de la serie Orange is the new black, mencionó que hubo miembros del cast trabajando en un segundo empleo debido al bajo salario que recibían. Con la serie terminada, se esperaría que las regalías de una serie exitosa que se sigue viendo fueran decente. Kimiko prueba que no es así, pues luego de haber participado en 44 episodios, en el año 2020 sólo recibió 27 dólares.
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    La industria del escape no puede escapar de su propia realidad, y lo que la huelga de escritores nos ha mostrado es la poca conexión de Hollywood frente a lo que vende y cómo es. Las productoras no sólo están enfrentadas a peticiones -más que justas- de quienes han hecho posible sus éxitos, sino que también se enfrenta a una pérdida de credibilidad en las historias que vaya a contar.
                </p>

                <p class="consultora" style="line-height: 1; font-size: 14px; padding-top: 5px;"> 
                    ¿Qué tan creíbles serán las historias que humanizan y dan rostro a la condición humana en una industria que actúa de la manera contraria?
                </p>


              

              <br>

              <strong><p class="consultora" style="line-height: 1; font-size: 12px; padding-top: 5px;"> 
                Publicado por 
                SL Consulting: Insights & ArquetyposSL 
               <br>
                Fecha de publicación: 2 meses <br> 
            </p>
          </strong>

          <br>

          <strong><span style="font-size: 20px;">Comparte tu opinión</span></strong>

      
            <span style="font-size: 10px; padding-top: 5px; color: gray;">    <img src="assets/imagenes/iconosblog/Recurso149.svg" style="width: 20px; padding-right: 5px;" alt=""> 
                200 comentarios</span>

          <br>

          <textarea class="form-control" rows="5" id="comentarios" name="comentarios"></textarea>
    <br>
          <button type="button" style="width: 100px;" class="btn btn-secondary">Publicar</button>



  
                       
                    </div>
                </div>
  
                <div class="col-md-1" style="padding-top: 40px; margin-left: -30px; font-size: 10px; color: gray;">compartir
                
                <div style="margin-top: 20px;">
                    <img src="assets/imagenes/iconosblog/Recurso148.svg" style="width: 20px;" alt=""> </div>

                    <div style="margin-top: 10px;">
                    <img src="assets/imagenes/iconosblog/Recurso148.svg" style="width: 20px;" alt=""> </div>

                    <div style="margin-top: 10px;">
                    <img src="assets/imagenes/iconosblog/Recurso148.svg" style="width: 20px;" alt=""> </div>

                    <div style="margin-top: 10px;">
                        <img src="assets/imagenes/iconosblog/Recurso151.svg" style="width: 20px;" alt=""> </div>
               
                        <div style="margin-top: 30px; padding-top: 10px; border-top: 1px solid rgb(223, 217, 217);">

                            <div style="margin-top: 10px; font-size: 10px;">valorar</div>
            
                            <img src="assets/imagenes/iconosblog/Recurso153.svg" style="width: 20px;" alt=""> </div>
               
                    </div>
                

            </div>


            <div class="comentario">

            <div class="row text-center" style="margin-top: 30px; margin-left: 30px;">

  
                <div class="col-md-1">
                
                    <img src="assets/imagenes/iconosblog/Recurso152.svg" style="width: 80px; padding-right: 5px;" alt=""> 

                
                </div>

                <div class="col-md-10" style="background-color: transparent; text-align: left; padding-top: 20px;">
                    <strong>Angela Holguin</strong>
                    <div style="color: gray; font-size: 10px;">
                        30 noviemnbre 2023
                    </div>
                </div>
  
                <div class="col-md-1">
                
                
                    </div>
                

            </div>

            <div class="row text-center" style="margin-top: -50px;">

  
                <div class="col-md-11" style="background-color: transparent;">
                    <div class="card custom-card border-0" style="background-color: transparent; text-align: left;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                  
            <p class="consultora" style="line-height: 1; font-size: 12px; padding-top: 5px;"> 
                La huelga de Hollywood refleja la lucha de los sindicatos de escritores y actores contra la hostilidad percibida en la industria cinematográfica. Desde mayo, el sindicato de escritores de Hollywood ha estado en huelga, buscando negociar mejores condiciones de trabajo. Este movimiento ha ganado apoyo, y ahora el sindicato de actores se ha unido a la protesta, subrayando la importancia de esta lucha para el futuro de su trabajo. <br><br>

                Los escritores argumentan que, a pesar del aumento de las ganancias de las productoras, sus condiciones laborales y salarios no han mejorado, sino que han empeorado. Muchos escritores han experimentado condiciones difíciles, con algunos admitiendo que han tenido que enfrentar dificultades económicas personales, incluso a pesar de contribuir al éxito de producciones destacadas
                </p>

                <input type="button" value="Respuesta" style="width: 100px; font-size: 12px;">



  
                       
                    </div>
                </div>
  
                <div class="col-md-1" style="padding-top: 40px; margin-left: -30px; font-size: 10px;">
                
                </div>
                

            </div>

            </div>

            
            <div class="comentario">

                <div class="row text-center" style="margin-top: -10px; margin-left: 30px;">
    
      
                    <div class="col-md-1">
                    
                        <img src="assets/imagenes/iconosblog/Recurso152.svg" style="width: 80px; padding-right: 5px;" alt=""> 
    
                    
                    </div>
    
                    <div class="col-md-10" style="background-color: transparent; text-align: left; padding-top: 20px;">
                        <strong>Emiliano Martinez</strong>
                        <div style="color: gray; font-size: 10px;">
                            10 agosto 2023
                        </div>
                    </div>
      
                    <div class="col-md-1">
                    
                    
                        </div>
                    
    
                </div>
    
                <div class="row text-center" style="margin-top: -50px;">
    
      
                    <div class="col-md-11" style="background-color: transparent;">
                        <div class="card custom-card border-0" style="background-color: transparent; text-align: left;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                      
                <p class="consultora" style="line-height: 1; font-size: 12px; padding-top: 5px;"> 
                    Otro aspecto importante de la protesta es la preservación del sistema de escritura anterior al auge del streaming. Antes, una vez que se aceptaba un piloto de una serie, se contrataba a un grupo de escritores para trabajar en el resto de la serie. Sin embargo, con el cambio hacia el streaming, las series ahora tienen menos episodios, lo que ha llevado a la reducción de estos cuartos de escritores, con menos guionistas y menos tiempo de trabajo. Esto ha obligado a algunos escritores a buscar empleos a tiempo parcial debido a la escasez de oportunidades de trabajo a tiempo completo en la escritura.
                 
                    </p>
    
                    <input type="button" value="Respuesta" style="width: 100px; font-size: 12px;">
    
    
    
      
                           
                        </div>
                    </div>
      
                    <div class="col-md-1" style="padding-top: 40px; margin-left: -30px; font-size: 10px;">
                    
                    </div>
                    
    
                </div>
    
                </div>

      </div>

    </div>
 
</div>








 
 
 

  