p {
    cursor: pointer;
  }
  
  .underline {
    text-decoration: none;
  }
  
  .clicked {
    text-decoration: underline;
  }

  .underlineModel {
    text-decoration: none;
  }
  
  .clickedModel {
    text-decoration: underline;
  }

  .underlineSoluciones {
    text-decoration: none;
  }
  
  .clickedSoluciones {
    text-decoration: underline;
  }

  .underlineBlog {
    text-decoration: none;
  }
  
  .clickedBlog {
    text-decoration: underline;
  }

.scroll-down{ 
    transform: translate3d(0 ,-51px, 0);
    transition: all 0.2s ease-out;       
}
.scroll-up{      
    transform: none;  
    transition: all 0.2s ease-out;    
     
}
@media (max-width: 576px) { 
    .scroll-down{ 
        transform: translate3d(0 ,-75px, 0);
        transition: all 0.2s ease-out;       
    }
  
  }

