

<div class="contenido">    
    <!-- Inicio  slider  -->
    
    <div class="video-container" style="margin-right: -90px;">

        <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
    

    <div class="texto-superpuesto subtitleMain" style=" margin-left: -30px; margin-top: 70px;">

        <span style="font-size: 65px;" class="animate-text delay-1">MODELOS</span>
        <p  class="texto2 animate-text delay-2">Revelamos verdades y transformamos <br> pensamientos para crear estrategias <br> efectivas, eficientes y responsables.</p>
    

    
          <button id="miBoton" class="btn texto-superpuestoTituloBanner animate-text delay-3 clicked"  >Descubre tu arquetipo</button>
 
  
    </div>

    </div>
    <!-- Fin  slider  --> 
    
    

    <div class="row">

      <div class="container">

         

        <!-- Primera fila -->
        <div class="row">
            <div class="col-md-12 " style="background-color: transparent; text-transform: none;">
                <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                  
        
                        <strong><p class="consultora" style="line-height: 1; font-family: BebasNeueBold;"> <span style="margin-left: -240px;"> ADAPTAMOS E INNOVAMOS</span> <br> <span style="margin-left: 50px;"> MODELOS Y METODOLOGÍAS </span>
                     
                        </p>
                      </strong>

                      <br>

                        <span style="text-transform: none; color: gray;">Logramos soluciones únicas según el reto <br> obteniendo resultados de manera ágil para la definición de caminos y la toma oportuna de decisiones. </span>
  
                </div>

              
            </div>

              
            <p id="lineaTexto" style="position: absolute; width: 28%; margin-left: 405px; margin-top: -4.8%; display: block;"> </p>

            
        </div>
                     
           <!-- Segunda fila -->
           <div class="row" style="margin-top: -60px;">
            <div class="col-md-4">
                <div class="card plan custom-card cartas text-center" style="padding: auto;" id="card_plan_1">
                
                  
                  <span style="width: 120px; margin-top: -5px; margin-right: 60px;" class="logo" id="robot" alt="Logotipo"></span>

                    <div class="card-body plan-card-body" style=" padding-top: 140px;">
                    
                      <span class="miparrafo">Innovación, modelos </span> <br> y metodologías 
                      
                    </div>

                    
                 
                </div>
            </div>

            <div class="col-md-4">
              <div class="card plan custom-card cartas text-center" style="padding: auto;" id="card_plan_1">
                
                  
                <span style="width: 120px; margin-top: 5px; margin-right: 60px;" class="logo" id="reloj" alt="Logotipo"></span>

                  <div class="card-body plan-card-body" style=" padding-top: 140px;">
                  
                    <span class="miparrafo">Agilidad </span> y <br> flexibilidad 
                    
                  </div>

              </div>
            </div>

            <div class="col-md-4">
              <div class="card plan custom-card cartas text-center" style="padding: auto;" id="card_plan_1">
                
                  
                <span style="width: 120px; margin-top: 5px; margin-right: 60px;" class="logo" id="posit" alt="Logotipo"></span>

                  <div class="card-body plan-card-body" style=" padding-top: 140px;">
                  
                    <span class="miparrafo">Co-creación</span> y <br>colaboración 
                    
                  </div>

              </div>
          </div>
        </div>




        <br>

      </div>

    </div>


    
    <div class="banner" #banner style="display: none;">
      <ul class="redes-sociales">
        
        <li style="margin-top: -2px;"><a *ngIf="email" href="#" (mouseover)="cambiarE()"><img style="width: 40px;" src="assets/imagenes/iconos/email.svg" alt="email"></a>
          <a *ngIf="emailColor" href="#" (mouseout)="cambiarEBlanco()"><img style="width: 40px;" src="assets/imagenes/iconos/emailColor.svg" alt="email"></a>
        </li>
        <li><a *ngIf="facebook" href="#" (mouseover)="cambiarF()"><img style="width: 35px;" src="assets/imagenes/iconos/facebook.svg" alt="Facebook"></a>
          <a *ngIf="facebookColor" href="#" (mouseout)="cambiarFBlanco()"><img style="width: 35px;" src="assets/imagenes/iconos/facebookColor.svg" alt="Facebook"></a>
        </li>
        <li><a *ngIf="instagram" href="#" (mouseover)="cambiarI()"><img style="width: 35px;" src="assets/imagenes/iconos/instagram.svg" alt="Instagram"></a>
          <a *ngIf="instagramColor" href="#" (mouseout)="cambiarIBlanco()"><img style="width: 35px;" src="assets/imagenes/iconos/instagramColor.svg" alt="Instagram"></a>
        </li>
        <li><a *ngIf="link" href="#" (mouseover)="cambiarL()"><img style="width: 35px;" src="assets/imagenes/iconos/link.svg" alt="Link"></a>
          <a *ngIf="linkColor" href="#" (mouseout)="cambiarLBlanco()"><img style="width: 35px;" src="assets/imagenes/iconos/linkColor.svg" alt="Link"></a>
        </li>
        <li><a *ngIf="arquetipos" href="#" (mouseover)="cambiarA()"><img style="width: 40px;" src="assets/imagenes/iconos/arquetipos.svg" alt="Link"></a>
          <a *ngIf="arquetiposColor" href="#" (mouseout)="cambiarABlanco()"><img style="width: 40px;" src="assets/imagenes/iconos/arquetiposColor.svg" alt="Link"></a>
        </li>
        <!-- Añade más iconos de redes sociales si lo deseas -->
      </ul>
    </div>


    <div class="mapa-container">

      <div class="row" >

        <!-- <p id="tituloHacemos"></p>
        -->
        
        <div class="container"> 
          
        
          
          <strong><p id="titulohacemos" class="text-center" style="width: 220px; margin-top: -20px; margin-bottom: -20px; margin-left: 450px;"></p></strong></div>
  

          <p id="lineaTexto7" style="z-index: 7; position: absolute;width: 12.5%; margin-left: 45%; margin-top: 3.6%; display: block;"> </p>


       </div>


  

       <div class="row">

        <div class="container">
        
          <!-- Aca ubico las ruedas-->
          <div class="col-md-12">

            <div class="texto-superpuesto2">

            <img style="width: 550px; height: 200px;"   src="assets/imagenes/ruedas/otrosIconos/recurso19.svg" alt="Invisible" >

            </div>

            <span style="cursor: pointer; z-index: 7; position: absolute; margin-top: -10px; margin-left: 250px; text-align: left; color: transparent;
            " (click)="resurso21()" (mouseover)="cambiarColorConexion()" (mouseout)="removerEstiloConexion()">...................... <br> .................................... <br> ........................................ <br> ....................................... <br> ................................... <br> ...............</span>

            <div class="texto-superpuesto3 animate-text delay-1" id="resurso21">

              <span [ngStyle]="divStyleConexion" style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="conexion" alt="Logotipo"></span>

              </div>

              <div class="texto-superpuesto3Info" id="recurso21Info" *ngIf="mostrarRecurso21Info" (click)="resurso21()">

                <img style="width: 600px; height: 232px; cursor: pointer; margin-top: 0.5%;"   src="assets/imagenes/ruedas/Recurso21.svg" alt="Invisible" >
    
                </div>

               
              
                <span style="cursor: pointer; z-index: 7; position: absolute; margin-top: 95px; margin-left: 390px; text-align: left; color: transparent;
                " (click)="resurso22()" (mouseover)="cambiarColorPosicionamiento()" (mouseout)="removerEstiloPosicionamiento()">.................... <br> ...................... <br> .......................... <br> ........................... <br> ............................ <br> .............................</span>


              <div class="texto-superpuesto4 animate-text delay-1">


                <span [ngStyle]="divStylePosicionamiento" style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="posicionamiento" alt="Logotipo"></span>
    
                </div>

                <div class="texto-superpuesto4Info" *ngIf="mostrarRecurso22Info" (click)="resurso22()">

                  <img style="width: 600px; height: 232px; cursor: pointer; margin-left: 0.2%;"   src="assets/imagenes/ruedas/Recurso22.svg" alt="Invisible" >
      
                  </div>

                  <span style="cursor: pointer; z-index: 17; position: absolute; margin-top: 240px; margin-left: 360px; text-align: left; color: transparent;
                  " (click)="resurso23()" (mouseover)="cambiarColorInnovacion()" (mouseout)="removerEstiloInnovacion()">..................................... <br> .................................... <br> .................................... <br> ................................. <br> ............................... <br> ............................</span>

                <div class="texto-superpuesto5 animate-text delay-1">

                  

                  <span [ngStyle]="divStyleInnovacion" style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="innovacion" alt="Logotipo"></span>
    
      
                  </div>

                  <div class="texto-superpuesto5Info" *ngIf="mostrarRecurso23Info" (click)="resurso23()">

                    <img style="width: 600px; height: 232px; cursor: pointer;"   src="assets/imagenes/ruedas/Recurso23.svg" alt="Invisible" >
        
                    </div>

                    <span style="cursor: pointer; z-index: 7; position: absolute; margin-top: 380px; margin-left: 250px; text-align: left; color: transparent;
                    " (click)="resurso24()" (mouseover)="cambiarColorCultura()" (mouseout)="removerEstiloCultura()">.................................. <br> ......................................... <br> ........................................... <br> .................................. <br> ........................ <br> ..........</span>

                  <div class="texto-superpuesto6 animate-text delay-1">


                    <span [ngStyle]="divStyleCultura" style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="cultura" alt="Logotipo"></span>
        
                    </div>

                    <div class="texto-superpuesto6Info" *ngIf="mostrarRecurso24Info" (click)="resurso24()">

                      <img style="width: 600px; height: 232px; cursor: pointer;"   src="assets/imagenes/ruedas/Recurso24.svg" alt="Invisible" >
          
                      </div>

            <img style="width: 500px;"   src="assets/imagenes/RuedaEsq.svg" alt="Invisible" >
          </div>

          <p id="lineaTexto2" style="z-index: 7; position: absolute;width: 10.9%; margin-left: 20.6%; margin-top: -23%; display: block;"> </p>

          <p style="z-index: 7; position: absolute; font-size: 12px; margin-left: 21%; margin-top: -16.1%; display: block; line-height: 1; color: gray;"><strong>Develamos Insights poderosos</strong> que permiten <br>  visualizar verdades e identificar tensiones.</p>

        
        </div>
   
   
       </div>

       <p id="lineaTexto3" style="position: absolute;width: 15%; margin-left: 42.9%; margin-top: -2%; display: block;"> </p>


       <div class="row" style="margin-top: 95px;">

        <div class="container">

          <div class="row">

          <div class="col-md-2"></div>

          <div class="col-md-8">
          <p  style=" margin-top: 25px; font-size: 15px; line-height: 1; color: gray;"> <strong>Arquetipamos bajo un enfoque estructural, humanizando la marca, la categoría, el negocio y la gente: </strong>asignandoles un propósito, un punto de ista y una forma de relacionarse con su entorno para definir su rol en la vida del cliente, del consumidor o del negocio.  </p>
        </div>

        <div class="col-md-2"></div>
        
        </div>

      </div>
   
   
       </div>

       <div class="row" style="margin-top: 50px; margin-bottom: 100px;">

          <!-- Aca ubico las ruedas-->
          <div class="col-md-12">

            <div class="texto-superpuesto7">

              <span [ngStyle]="divStyleFlor" style="width: 280px;  margin-top: -143px; margin-right: -147px;" class="logo" id="flor" alt="Logotipo"></span>

  
              </div>

              <span style="cursor: pointer; z-index: 4; position: absolute; margin-top: 5px; margin-left: 280px; text-align: left; color: transparent;" (mouseover)="cambiarColorFlor()" (mouseout)="removerEstiloFlor()" (click)="resurso30()">................. <br> ................................ <br> ............................ <br> ......................... <br> ...................... <br> ..................</span>

                <div class="texto-superpuesto7" style="z-index: 3; margin-top: -0.1%; margin-left: 5.6%;" *ngIf="mostrarRecurso30Info">

                  <img style="width: 550px; height: 220px;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso30.svg"  >

                </div>

              <div class="texto-superpuesto8">

                <span [ngStyle]="divStyleBuho" style="width: 280px;  margin-top: -144px; margin-right: -146px;" class="logo" id="buho" alt="Logotipo"></span>

    
                </div>

                <span style="cursor: pointer; z-index: 4; position: absolute; margin-top: 65px; margin-left: -20px; color: transparent;
                left: 60%;" (mouseover)="cambiarColorBuho()" (mouseout)="removerEstiloBuho()"  (click)="resurso31()">.................. <br> ......................... <br> ........................... <br> ........................ <br> ........</span>

                 <div class="texto-superpuesto8" *ngIf="mostrarRecurso31Info">

                <img style="width: 550px; height: 220px; margin-top: -9%; margin-left: 5.1%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso31.svg"  >
    
                </div>

                <div class="texto-superpuesto9">

                  <span [ngStyle]="divStylePaisaje" style="width: 280px;  margin-top: -144px; margin-right: -146px;" class="logo" id="paisaje" alt="Logotipo"></span>
      
                  </div>

                  <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 180px; margin-left: 420px; text-align: left; color: transparent;" (click)="resurso32()" (mouseover)="cambiarColorPaisaje()" (mouseout)="removerEstiloPaisaje()">............................ <br> ............................. <br> ............................. <br> .............................</span>

                   <div class="texto-superpuesto9" *ngIf="mostrarRecurso32Info">

                  <img style="width: 550px; height: 170px; margin-left: 6%; margin-top: -4.8%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso32.svg"  >
      
                  </div>

                  <div class="texto-superpuesto10">

                    <span [ngStyle]="divStyleMedalla" style="width: 280px;  margin-top: -147px; margin-right: -145px;" class="logo" id="medalla" alt="Logotipo"></span>
        
                    </div>

                    <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 275px; margin-left: 420px; text-align: left; color: transparent;" (click)="resurso33()" (mouseover)="cambiarColorMedalla()" (mouseout)="removerEstiloMedalla()">............................. <br> ............................. <br> ............................. <br> ............................</span>

                  <div class="texto-superpuesto10" *ngIf="mostrarRecurso33Info">

                    <img style="width: 550px; height: 170px; margin-top: 4%; margin-left: 6%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso33.svg"  >
        
                    </div>

                    <div class="texto-superpuesto11">

                      <span [ngStyle]="divStyleMago" style="width: 280px;  margin-top: -148px; margin-right: -145px;" class="logo" id="mago" alt="Logotipo"></span>
          
                      </div>

                      <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 370px; margin-left: 380px; color: transparent;" (click)="resurso34()" (mouseover)="cambiarColorMago()" (mouseout)="removerEstiloMago()">.................. <br> .......................... <br> .............................. <br> .............................. <br> ................... <br> ............</span>

                      <div class="texto-superpuesto11" *ngIf="mostrarRecurso34Info">

                      <img style="width: 550px; height: 215px; margin-top: 7.8%; margin-left: 5%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso34.svg"  >
          
                      </div>
    

                      <div class="texto-superpuesto12">

                        <span [ngStyle]="divStyleManoEstrella" style="width: 280px;  margin-top: -148px; margin-right: -145px;" class="logo" id="manoEstrella" alt="Logotipo"></span>
            
                        </div>

                        <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 420px; margin-left: 280px; text-align: left; color: transparent;" (click)="resurso35()" (mouseover)="cambiarColorManoEstrella()" (mouseout)="removerEstiloManoEstrella()">.................... <br> ...................... <br> ........................... <br> ............................... <br> ............................. <br> ....................</span>

                        <div class="texto-superpuesto12" *ngIf="mostrarRecurso35Info">

                        <img style="width: 550px; height: 225px; margin-left: 3.3%; margin-top: 12%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso35.svg"  >
            
                        </div>

                        <div class="texto-superpuesto13">

                          <span [ngStyle]="divStyleCasa" style="width: 282px;  margin-top: -146px; margin-right: -145px;" class="logo" id="casa" alt="Logotipo"></span>
              
                          </div>

                          <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 430px; margin-left: 190px; text-align: left; color: transparent;" (click)="resurso36()" (mouseover)="cambiarColorCasa()" (mouseout)="removerEstiloCasa()">.................... <br> .................... <br> .................... <br> .................... <br> ....................</span>

                          <div class="texto-superpuesto13" *ngIf="mostrarRecurso36Info">

                          <img style="width: 550px; height: 220px; margin-top: 11.5%; margin-left: -4%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso36.svg"  >
              
                          </div>

                          <div class="texto-superpuesto14">

                            <span [ngStyle]="divStyleBufon" style="width: 279px;  margin-top: -144px; margin-right: -142px;" class="logo" id="bufon" alt="Logotipo"></span>
                
                            </div>

                            
                          <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 380px; margin-left: 80px; text-align: left; color: transparent;" (click)="resurso37()" (mouseover)="cambiarColorBufon()" (mouseout)="removerEstiloBufon()">....................... <br> .............................. <br> .......................... <br> ...................... <br> ..................</span>

                          <div class="texto-superpuesto14" *ngIf="mostrarRecurso37Info">

                            <img style="width: 550px; height: 230px; margin-top: 10.5%; margin-left: -6.5%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso37.svg"  >
                
                            </div>

                            <div class="texto-superpuesto15">

                              <span [ngStyle]="divStyleCorazones" style="width: 280px;  margin-top: -144px; margin-right: -145px;" class="logo" id="corazones" alt="Logotipo"></span>
                  
                              </div>

                              <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 270px; margin-left: 10px; text-align: left; color: transparent;" (click)="resurso38()" (mouseover)="cambiarColorCorazones()" (mouseout)="removerEstiloCorazones()">.............................. <br> ............................... <br> ................................ <br> ................................. <br> ....................... <br> ...........</span>

                               <div class="texto-superpuesto15" *ngIf="mostrarRecurso38Info">

                              <img style="width: 550px; height: 175px; margin-top: 5%; margin-left: -6.7%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso38.svg"  >
                  
                              </div>

                              <div class="texto-superpuesto16">

                                <span [ngStyle]="divStyleCorazon" style="width: 280px;  margin-top: -145px; margin-right: -145px;" class="logo" id="corazon" alt="Logotipo"></span>
                    
                                </div>

                                <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 160px; margin-left: 20px; text-align: left; color: transparent;" (click)="resurso39()" (mouseover)="cambiarColorCorazon()" (mouseout)="removerEstiloCorazon()">................ <br> ............................ <br> .............................. <br> ............................ <br> ............................</span>

                               <div class="texto-superpuesto16" *ngIf="mostrarRecurso39Info">

                                <img style="width: 550px; height: 175px; margin-left: -6.2%; margin-top: -5.7%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso39.svg">
                    
                                </div>

                                <div class="texto-superpuesto17">

                                  <span [ngStyle]="divStyleCorona" style="width: 285px;  margin-top: -145px; margin-right: -147px;" class="logo" id="corona" alt="Logotipo"></span>
                      
                                  </div>

                                  <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 50px; margin-left: 60px; text-align: left; color: transparent;" (click)="resurso40()" (mouseover)="cambiarColorCorona()" (mouseout)="removerEstiloCorona()">..................... <br> ......................... <br> .............................. <br> ................................... <br> ................................</span>

                                  <div class="texto-superpuesto17" *ngIf="mostrarRecurso40Info">

                                  <img style="width: 550px; height: 235px; margin-top: -11%; margin-left: -5.5%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso40.svg"  >
                      
                                  </div>

                                  <div class="texto-superpuesto18">

                                
                                                         
              <span [ngStyle]="divStyleBombillo" style="width: 280px;  margin-top: -143px; margin-right: -143px;" class="logo" id="bombillo" alt="Logotipo"></span>
                        
                                    </div>

                                    <span style="cursor: pointer; z-index: 3; position: absolute; margin-top: 20px; margin-left: 170px; text-align: left; color: transparent;" (click)="resurso41()"  (mouseover)="cambiarColorBombillo()" (mouseout)="removerEstiloBombillo()">........................ <br> .......................... <br> ......................... <br> ........................ <br> .......</span>

                                    <div class="texto-superpuesto18" *ngIf="mostrarRecurso41Info">

                                    <img style="width: 550px; height: 230px; margin-top: -13%; margin-left: -3%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso41.svg"  >
                        
              
                                    </div>
                                    

            <img style="width: 550px;"   src="assets/imagenes/ruedas/Recurso132.svg" alt="Invisible" >
          </div>
          

        
       </div>
       <br>
       
      
    
       <!-- <button class="btn custom-button clicked" id="miBoton2"  style=" right: 150px; width: 150px; height: 35px; margin-left: 3%; margin-top: 70%; font-family: TransducerRegular; padding-top: 5px; margin-bottom: 20px;">Contáctanos</button>
        -->

    </div>
    <br>

    <div class="row">

    <div class="container" >
        <!-- Primera fila -->
        <div class="row" >
            <div class="col-md-6 subtitleMain" style="background-color: transparent;">
                <div class="border-0" style="background-color: transparent; margin-left: 170px; margin-top: 50px;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
             
                        <strong><p  style="line-height: 1; ">
                        
                            <span class="consultoraH" style="font-size: 35px;">CONOCE NUESTROS <br> CASOS DE EXITO</span>
                        </p>
                     
                        </strong>
                        
                        
                        <button class="btn custom-button superpuestoejemplo" (click)="scrollToSection()" style="width: 150px; height: 35px; margin-left: 32.5%; margin-top: 30%; font-family: TransducerRegular; padding-top: 5px;" >Contáctanos</button>
                </div>

                <p id="lineaTexto4" style="z-index: 7; position: absolute;width: 28%; margin-left: 29%; margin-top: -16.2%; display: block;"> </p>

               
            </div>
    

            <div class="col-md-4">
              
              <div id="miCarrusel3" class="carousel slide" style="background-color: transparent;" data-ride="carousel">
                <!-- Indicadores del carrusel -->
                <ul class="carousel-indicators">
                  <li data-target="#miCarrusel3" data-slide-to="0" class="active"></li>
                  <li data-target="#miCarrusel3" data-slide-to="1"></li>
                  <li data-target="#miCarrusel3" data-slide-to="2"></li>
                </ul>
              
                <!-- Imágenes del carrusel -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                      <div class="">
                          <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                      </div>
                      
                      <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                          <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                      </div>
      
                   
                  </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                      <div class="">
                          <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                      </div>
                      
                      <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                          <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                      </div>
      
                   
                  </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                      <div class="">
                          <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                      </div>
                      
                      <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                          <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                      </div>
      
                   
                  </div>
                  </div>
                </div>
              
                <!-- Controles del carrusel -->
                <a class="carousel-control-prev" href="#miCarrusel3" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#miCarrusel3" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            </div>
        </div>

       
    </div>

  </div>

  <div class="mapa-container">

    <div class="container">
    <div class="row">

       <strong><p style=" margin-top: 25px; font-family: BebasNeueBold;font-size: 40px; line-height: 1; "> <span style="margin-left: 65px;">MODELO DE PENSAMIENTO Y</span> <br> <span style="font-size: 40px; margin-left: 40px;">FUENTES DE INSPIRACIÓN:</span></p></strong></div>

     
       <p id="lineaTexto5" style="z-index: 7; position: absolute;width: 28%; margin-left: 1%; margin-top: -15%; display: block;"> </p>

 
       <div class="row"> 
        <span style="color: gray; margin-left: 65px; margin-top: 10px;">Utilizamos diferentes <strong>modelos de pensamiento, creatividad y conocimiento</strong> como fuente de inspiración para movilizar nuevos mindsets.</span>
       </div>
     </div>


    <div class="row" style="margin-top: 145px; margin-bottom: 120px;">

      <div class="container"> 
      <!-- Aca ubico las ruedas-->
          <!-- Aca ubico las ruedas-->
          <div class="col-md-12">

        

            <div class="texto-superpuestoG1" id="resurso21" (mouseover)="cambiarColorGamificacion()" (mouseout)="removerEstiloGamificacion()">

              <span [ngStyle]="divStyleGamificacion" style="cursor: pointer; width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="gamificacion" alt="Logotipo"></span>
                    
  
              </div>

          

              <div class="texto-superpuestoG2" (mouseover)="cambiarColorSocial()" (mouseout)="removerEstiloSocial()">

                <span [ngStyle]="divStyleSocial" style="cursor: pointer; width: 295px;  margin-top: -153px; margin-right: -145px;" class="logo" id="social" alt="Logotipo"></span>
    
                </div>

              

                <div class="texto-superpuestoG3" (mouseover)="cambiarColorScp()" (mouseout)="removerEstiloScp()">

                  <span [ngStyle]="divStyleScp" style="cursor: pointer; width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="scp" alt="Logotipo"></span>
      
                  </div>

                  <div class="texto-superpuestoG4" (mouseover)="cambiarColorSombreros()" (mouseout)="removerEstiloSombreros()">

                    <span [ngStyle]="divStyleSombreros" style="cursor: pointer; width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="6sombreros" alt="Logotipo"></span>
        
                    </div>

                    
                  <div class="texto-superpuestoG5" (mouseover)="cambiarColorRastreo()" (mouseout)="removerEstiloRastreo()">

                    <span [ngStyle]="divStyleRastreo" style="cursor: pointer; width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="rastreo" alt="Logotipo"></span>
        
                    </div>

                    <div class="texto-superpuestoG6" (mouseover)="cambiarColorRealidad()" (mouseout)="removerEstiloRealidad()">

                      <span [ngStyle]="divStyleRealidad" style="cursor: pointer; width: 295px;  margin-top: -153px; margin-right: -161px;" class="logo" id="realidadVirtual" alt="Logotipo"></span>
          
                      </div>

                      <div class="texto-superpuestoF1">

                        <img style="width: 50px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso65.svg" alt="Invisible" >
            
                        </div>

                        <div class="texto-superpuestoF2">

                          <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso66.svg" alt="Invisible" >
              
                          </div>

                          <div class="texto-superpuestoF3">

                            <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso61.svg" alt="Invisible" >
                
                            </div>

                            
                          <div class="texto-superpuestoF4">

                            <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso62.svg" alt="Invisible" >
                
                            </div>

                            <div class="texto-superpuestoF5">

                              <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso63.svg" alt="Invisible" >
                  
                              </div>

                              <div class="texto-superpuestoF6">

                                <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso64.svg" alt="Invisible" >
                    
                                </div>


            <img style="width: 500px;"   src="assets/imagenes/grafica3/Recurso153.svg" alt="Invisible" >
          </div>
      
      
      </div>
 
 
     </div>
     <br>
   <br>
   <br>     
    
     <button class="btn custom-button" (click)="scrollToSection()" style=" bottom: 2%; right: 150px; width: 150px; height: 35px; margin-left: 3%; margin-top: 70%; font-family: TransducerRegular; padding-top: 5px;">Contáctanos</button>

<br>
  </div>

    
  
  <div class="row">

    <div class="container">

       

      <!-- Primera fila -->
      <div class="row">
          <div class="col-md-12 subtitleMain" style="background-color: transparent;">
              <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                
      
                      <strong><p class="consultora" style="line-height: 1; "><span style="margin-left: -220px;">¿QUIÉNES</span> <br><span class="miparrafo" style="font-size: 40px; margin-left: 20px;">LO HACEN POSIBLE?</span> 
                   
                      </p>
                    </strong>
                 
              </div>

              <p id="lineaTexto6" style="z-index: 7; position: absolute;width: 10%; margin-left: 35%; margin-top: -14.4%; display: block;"> </p>

          </div>
          
      </div>

         <!-- Segunda fila -->
         <div class="row" style="margin-top: -10px;">
          <div class="col-md-3" style="cursor: pointer;" (click)="mostrarCerebro2()">
              <div class="card plan cartas" [ngClass]="{ 'ocultar': !cartaCerebro2 }" id="cerebro2x">
                <span style="width: 100px; margin-top: 15px; margin-right: 60px;" class="logo" id="cerebro2" alt="Logotipo"></span>

                  <div class="card-body plan-card-body text-center" style=" padding-top: 140px;">
                  
                    <span class="miparrafo" style="font-size: 15px;">Expertos en <br> comprensión <br>humana:</span>
                    
                    
                  </div>
              </div>
              <div style="border: 3px solid #DC1A4D;" class="card plan cartas" [ngClass]="{ 'ocultar': cartaCerebro2 }" id="cerebro2Info">
            
                <div class="card-body plan-card-body" style=" padding-top: 33px; padding-bottom: 14px;">
                
                  <p style="font-size: 15px; color: gray; line-height: 1;">Antropólogos psicólogos, sociólogos, pedagogos y estadistas, comparten sus conocimientos para entender los fenómenos humanos, generando interpretaciones únicas de cada uno de nuestros proyectos.</p>
                  
                </div>
            </div>
          </div>

         

          

          <div class="col-md-3" style="cursor: pointer;" (click)="mostrarPluma()">

            <div class="card plan cartas " id="card_plan_1" [ngClass]="{ 'ocultar': !cartaPluma }">
              <span style="width: 100px; margin-top: 15px; margin-right: 60px;" class="logo" id="pluma" alt="Logotipo"></span>

                <div class="card-body plan-card-body text-center" style=" padding-top: 140px;">
                
                  <span class="miparrafo" style="font-size: 15px;">Expertos en<br>creatividad, diseño <br> y desarrollo:</span>
                </div>
            </div>

            <div style="border: 3px solid #DC1A4D;" class="card plan cartas" [ngClass]="{ 'ocultar': cartaPluma }">
            
              <div class="card-body plan-card-body" style=" padding-top: 80px; padding-bottom: 56px;">
              
                <p style="font-size: 15px; color: gray; line-height: 1;">Especialistas en activación de modelos de pensamiento, creatividad, diseño, semiótica y multimedia.</p>
                
              </div>
          </div>

          </div>

          <div class="col-md-3" style="cursor: pointer;" (click)="mostrarDiana()">

            <div class="card plan cartas " id="card_plan_1" [ngClass]="{ 'ocultar': !cartaDiana }">
              
                
              <span style="width: 100px; margin-top: 15px; margin-right: 60px;" class="logo" id="diana" alt="Logotipo"></span>

                <div class="card-body plan-card-body text-center" style=" padding-top: 140px;">
                
                  <span class="miparrafo" style="font-size: 15px;">Expertos en <br>activación <br> estratégica:</span>
                          
                </div>

            </div>

            <div style="border: 3px solid #DC1A4D;" class="card plan cartas" [ngClass]="{ 'ocultar': cartaDiana }">
            
              <div class="card-body plan-card-body" style=" padding-top: 27px;">
              
                <p style="font-size: 15px; color: gray; line-height: 1;">Profesionales experimentados en la planeación estrategíca, mercadeo, comunicación, transformación del ser y negocios, comparten sus conocimientos para la identificación de espacios de oportunidad.</p>
                
              </div>
          </div>

        </div>

        <div class="col-md-3">
          <div class="card plan cartas " id="card_plan_1">
            
                <div class="card-body plan-card-body text-center" style=" padding-top: 40px; padding-bottom: 60px;">
                
                  <span class="miparrafo" style="font-size: 15px;">Expertos en logística <br>y gestión de <br>proyectos:</span>
                       
                  <button class="btn" style="background: linear-gradient(to right, #E38520, #DC1A4D); color: white; box-shadow: none; margin-top: 20px;" data-toggle="modal" data-target="#imagenModal">conócenos</button>
              
                </div>
           
          </div>
      </div>

      </div>




      <br>

    </div>

  </div>


  <span id="contacts"></span>

     <div>

      <div  style="background-color: white;" >
        <!-- Primera fila -->
  
        <div class="container">
  
          
  
        <div class="row" style="background-color: white;" >
            <div class="col-md-5 " style="background-color: transparent; margin-top: 90px;">
              
            
              <div class="card custom-card border-0" style="background-color: white;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
              
                    <p class="btn custom-button2" style="font-family: BebasNeueBold; font-size: 25px; line-height: 1;"> <img style="width: 30px; padding-top: 5px; padding-right: 5px;" src="assets/imagenes/iconos/whatsapp.svg" alt="">¿TIENES UN RETO<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  PARA NOSOTROS? </p>
             
                   
                 

              </div>
              
              <div style="margin-left: 130px;">

              <div>
                <p style="color: gray;"><strong>Bogotá</strong> <br> <br> Cra 49b #104ª - 75 <br> Tel: (+57) 318 355 19 94</p>
              </div>

              <div>
                <p style="color: gray;"><strong>Cali</strong> <br> <br> Calle 3 No 57-31 <br> Tel: (+57) 2 400 21 28</p>
              </div>

            </div>

          </div>
          <div class="col-md-7">
              <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                  <div class="card-body" style="margin-top: 30px; margin-left: 190px;">

                    <input type="text" class="form-control" placeholder="Nombre">
                    <br>
                    <input type="text" class="form-control" placeholder="Email">
                    <br>
                    <textarea name="" id="" cols="30" class="form-control" placeholder="Cúentanos qué reto tienes para nosotros" rows="8"></textarea>
                    <br>
                    <button type="button" class="btn btn-secondary" style="background: linear-gradient(to right, #E38520, #DC1A4D);">Enviar</button>

                
                   
                  </div>

                  
              </div>

          </div>
      </div>

  

      
    </div>
    </div>
      

  </div>

</div>


<div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: transparent; margin-top: 100px;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: transparent; box-shadow: none;">
   
      <div class="modal-body">
        <!-- Contenido de la galería -->
        <div id="logoCarousel2" class="carousel slide" data-ride="carousel" style="background-color: transparent; margin-left: 50px;">
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="row">
                <!-- Logo 1 -->
                <div class="col-md-12">
                 <div class="card plan custom-card cartasComentarios2" id="card_plan_1">

                  <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/SANDRA.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">

                   <div class="">
                       <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">Sandra Lopez</h6></strong>
                   </div>

                   <div class="">
                    <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">CEO - Founder SL</span></strong>
                </div>

                 
                   
                   <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 50px; padding-right: 20px; color: gray; font-size: 11px;">
                       <p style="line-height: 1;">"Psicóloga con énfasis en psicoanálisis; experta en el diseño de modelos de pensamiento estratégico, plataformas creativas y el desarrollo de caminos conscientes para impactar de manera positiva los negocios, con modelos propios a partir de dos herramientas poderosas: los Insights y los Arquetipos. Se destaca por su habilidad para desarrollar e implementar modelos innovadores basados en la humanización de los negocios, aportando un enfoque único centrado en las personas."</p>
                   </div>

                
               </div>
                </div>
             
           
              </div>
            </div>
            
            <div class="carousel-item">
              <div class="row">
                <!-- Logo 1 -->
                <div class="col-md-12">
                 <div class="card plan custom-card cartasComentarios2" id="card_plan_1">
  
                   <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/TRUDY.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">
  
                   <div class="">
                    <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">Truddy Harker</h6></strong>
                </div>
  
                <div class="">
                 <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">People & Culture</span></strong>
             </div>
  
              
                
                <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 15px; padding-right: 20px; color: gray; font-size: 11px;">
                    <p style="line-height: 1;">"Profesional en Mercadeo y Publicidad; con postgrado en Gerencia de Negocios, y formación en Gestión y Negociación; leader coach, con herramientas para el diagnóstico y la gestión del talento. Cuenta con 30 años de experiencia en marketing y planeación estratégica liderando equipos de alto desempeño en compañías nacionales y multinacionales. Su enfoque se centra en la definición de caminos estratégicos para la activación de escenarios presentes y futuros, alineado con su propósito, en la transformación de los equipos y las organizaciones a partir de la transformación del individuo, asegurando el sostenimiento y crecimiento de las personas y los negocios."</p>
                </div>
  
                 
                </div>
                </div>
               
           
              </div>
            </div>

            <div class="carousel-item">
             <div class="row">
               <!-- Logo 1 -->
               <div class="col-md-12">
                <div class="card plan custom-card cartasComentarios2" id="card_plan_1">

                  <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/DAVID.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">

                  <div class="">
                    <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">David Zuleta</h6></strong>
                </div>

                <div class="">
                 <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">Director Discovery</span></strong>
             </div>

              
                
                <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 5px; padding-right: 20px; color: gray; font-size: 11px;">
                    <p style="line-height: 1;">"Más de 13 años de experiencia dedicado a comprender las percepciones de los clientes, la investigación de mercados, la innovación de productos, el diseño de marcas, las estrategias de marketing y el comportamiento del consumidor. Ha liderado proyectos para distintos países de la región, colaborando con múltiples marcas en distintas industrias, tanto B2C como B2B, desde enfoques cualitativos y cuantitativos. Lidera el proceso para descubrir insights, integrando datos y transmitiendo conocimiento a través del story telling; guiando equipos de marketing e investigación a construir estrategias desde cero o perfeccionar su enfoque, ofreciéndoles nuevas perspectivas sobre el comportamiento humano y las tendencias culturales."</p>
                </div>

                
               </div>
               </div>
              
          
             </div>
           </div>
          
           <div class="carousel-item">
            <div class="row">
              <!-- Logo 1 -->
              <div class="col-md-12">
               <div class="card plan custom-card cartasComentarios2" id="card_plan_1">

                 <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/M.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">

                 <div class="">
                  <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">Eduardo Carvallo</h6></strong>
              </div>

              <div class="">
               <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">Asesor SL</span></strong>
           </div>

            
              
              <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 15px; padding-right: 20px; color: gray; font-size: 11px;">
                  <p style="line-height: 1;">"Psiquiatra y Psicoterapeuta Humanista certificado como analista Junguiano por la Interntational Association for analytical psychology (IAAP). Presidente del Comité Latinoamericano de Psicología Analítica (CLAPA) y fundador de Arquetypus. Desde 2011, ha desempeñado un rol fundamental dentro de SL, asesorando la creación e implementación práctica de conceptos psicológicos en el ámbito empresarial, basado en el desarrollo de modelos de comprensión humana, que buscan enriquecer el entendimiento desde el mundo arquetipal, como herramienta para potenciar la creatividad, la toma de decisiones y el desarrollo personal y empresarial."</p>
              </div>

               
              </div>
              </div>
             
         
            </div>
          </div>

           <div class="carousel-item">
            <div class="row">
              <!-- Logo 1 -->
              <div class="col-md-12">
               <div class="card plan custom-card cartasComentarios2" id="card_plan_1">

                 <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/DIANA.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">

                 <div class="">
                  <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">Diana Saavedra</h6></strong>
              </div>

              <div class="">
               <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">Directora de Procesos y Operaciones</span></strong>
           </div>

            
              
              <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 80px; padding-right: 20px; color: gray; font-size: 11px;">
                  <p style="line-height: 1;">"Administradora de empresas con más de 20 años de experiencia liderando equipos multidisciplinarios. Su experiencia se ha centrado en resolver problemas complejos y tomar decisiones estratégicas logrando una administración confiable para la compañía y sus clientes."</p>
              </div>

               
              </div>
              </div>
             
         
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <!-- Logo 1 -->
              <div class="col-md-12">
               <div class="card plan custom-card cartasComentarios2" id="card_plan_1">

                 <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/LEYDI.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">

                 <div class="">
                  <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">Leidy Otero</h6></strong>
              </div>

              <div class="">
               <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">Project Manager</span></strong>
           </div>

            
              
              <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 15px; padding-right: 20px; color: gray; font-size: 11px;">
                  <p style="line-height: 1;">"Psicóloga y Project Manager con 10 años de experiencia trabajando la Categoría OTC (Over The Counter) en SL. Se dedica al desarrollo de procesos de definición, planificación y ejecución de proyectos de investigación. Lidera un equipo interdisciplinario comprometido en ofrecer diversas perspectivas de análisis de los datos cuantitativos y cualitativos recopilados. Su equipo proporciona insights relevantes para que el cliente pueda identificar las tensiones del consumidor. Ofreciendo soluciones transformadoras para la mejora continua de los productos, generando así una experiencia del consumidor más gratificante con la marca."</p>
              </div>

               
              </div>
              </div>
             
         
            </div>
          </div>

          

          <div class="carousel-item">
            <div class="row">
              <!-- Logo 1 -->
              <div class="col-md-12">
               <div class="card plan custom-card cartasComentarios2" id="card_plan_1">

                 <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/PAOLA.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">

                 <div class="">
                  <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">Paola Blanco</h6></strong>
              </div>

              <div class="">
               <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">People & Culture</span></strong>
           </div>

            
              
              <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 5px; padding-right: 20px; color: gray; font-size: 11px;">
                  <p style="line-height: 1;">"Más de 20 años de experiencia en el mundo corporativo de grandes multinacionales; apasionada por el conocimiento del comportamiento humano. Ha liderado equipos de insights, respaldando el crecimiento de negocios y marcas mediante iniciativas que han logrado incrementos significativos en ventas y posicionamiento. Su enfoque Human Centricity le ha permitido conectar insights con oportunidades de negocio, destacándose en el desarrollo de estrategias a partir de insights de consumidor, shopper y retailer. Experta en coaching ontológico, ha acompañado y guiado personas en procesos de transformación de liderazgo, maximizando su potencial; enriqueciendo a SL y sus clientes con su experticia y conocimientos."</p>
              </div>

               
              </div>
              </div>
             
         
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <!-- Logo 1 -->
              <div class="col-md-12">
               <div class="card plan custom-card cartasComentarios2" id="card_plan_1">

                 <img src="assets/imagenes/ImagenesModelos/ImagenesModelos/ARGELIA.png" style="width: 190px; position: absolute; margin-top: -25px; margin-left: -55px;" alt="">

                 <div class="">
                  <strong><h6 class="miparrafo" style="padding-left: 150px; padding-top: 10px;">Argelia Sifontes</h6></strong>
              </div>

              <div class="">
               <strong><span style="padding-left: 150px; padding-top: 10px; font-size: 11px;">Directora Cuantitativa</span></strong>
           </div>

            
              
              <div class="card-body plan-card-body" style="text-align: justify; padding-left: 150px; padding-top: 10px; padding-bottom: 15px; padding-right: 20px; color: gray; font-size: 11px;">
                  <p style="line-height: 1;">"Socióloga con más de 30 años de experiencia en investigación de mercados; apasionada por comprender las necesidades de los consumidores. Su enfoque se centra en transformar información en herramientas útiles para la mejora continua de productos y servicios. A lo largo de su carrera, ha liderado la coordinación de estudios de investigación para grandes marcas, generando resultados accionables que han contribuido significativamente al desarrollo estratégico y al éxito comercial de los negocios. Su compromiso se refleja en su capacidad para proporcionar soluciones prácticas que impulsan el crecimiento empresarial de manera sostenible."</p>
              </div>

               
              </div>
              </div>
             
         
            </div>
          </div>

        
            <!-- Agrega más slides según sea necesario -->
          </div>
          
          <ol class="carousel-indicators">
           <li data-target="#logoCarousel2" data-slide-to="0" class="active"></li>
           <li data-target="#logoCarousel2" data-slide-to="1"></li>
           <li data-target="#logoCarousel2" data-slide-to="2"></li>
           <li data-target="#logoCarousel2" data-slide-to="3"></li>
           <li data-target="#logoCarousel2" data-slide-to="4"></li>
           <li data-target="#logoCarousel2" data-slide-to="5"></li>
           <li data-target="#logoCarousel2" data-slide-to="6"></li>
           <li data-target="#logoCarousel2" data-slide-to="7"></li>
           <!-- Agrega más indicadores según sea necesario -->
         </ol>
        </div>
      </div>
      
    </div>
  </div>
</div>







 
 
 

  