

<div class="contenido">    
    <!-- Inicio  slider  -->
      

    

    <div class="video-container" style="margin-right: -90px;">

        <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
    

    <div class="texto-superpuesto subtitleMain" style=" margin-left: -30px; margin-top: 70px;">

        <span style="font-size: 65px;" class="animate-text delay-1">MODELO</span>
        <p  class="texto2 animate-text delay-2">Revelamos verdades y transformamos <br> pensamientos para crear estrategias <br> efectivas, eficientes y responsables.</p>
    

    
          <button id="miBoton" class="btn texto-superpuestoTituloBanner animate-text delay-3 clicked"  >Descubre tu arquetipo</button>
 
  
    </div>

    </div>
    <!-- Fin  slider  --> 
    
    

    <div class="row">

      <div class="container">

         

        <!-- Primera fila -->
        <div class="row">
            <div class="col-md-12 " style="background-color: transparent; text-transform: none;">
                <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                  
        
                        <strong><p class="consultora" style="line-height: 1; font-family: BebasNeueBold;"> <span style="margin-left: -240px;"> ADAPTAMOS E INNOVAMOS</span> <br> <span style="margin-left: 50px;"> MODELOS Y METODOLOGÍAS </span>
                     
                        </p>
                      </strong>

                      <br>

                        <span style="text-transform: none; color: gray;">Según el reto, logrando soluciones únicas que agilizan resultados <br> definiendo caminos para la toma de deciciones oportunas.</span>
  
                </div>

              
            </div>

              
            <p id="lineaTexto" style="position: absolute; width: 28%; margin-left: 405px; margin-top: -5%; display: block;"> </p>

            
        </div>
                     
           <!-- Segunda fila -->
           <div class="row" style="margin-top: -60px;">
            <div class="col-md-4">
                <div class="card plan custom-card cartas text-center" style="padding: auto;" id="card_plan_1">
                
                  
                  <span style="width: 120px; margin-top: -5px; margin-right: 60px;" class="logo" id="robot" alt="Logotipo"></span>

                    <div class="card-body plan-card-body" style=" padding-top: 140px;">
                    
                      <span class="miparrafo">Innovación, modelos </span> <br> y metodologías 
                      
                    </div>

                    
                 
                </div>
            </div>

            <div class="col-md-4">
              <div class="card plan custom-card cartas text-center" style="padding: auto;" id="card_plan_1">
                
                  
                <span style="width: 120px; margin-top: 5px; margin-right: 60px;" class="logo" id="reloj" alt="Logotipo"></span>

                  <div class="card-body plan-card-body" style=" padding-top: 140px;">
                  
                    <span class="miparrafo">Agilidad </span> y <br> flexibilidad 
                    
                  </div>

              </div>
            </div>

            <div class="col-md-4">
              <div class="card plan custom-card cartas text-center" style="padding: auto;" id="card_plan_1">
                
                  
                <span style="width: 120px; margin-top: 5px; margin-right: 60px;" class="logo" id="posit" alt="Logotipo"></span>

                  <div class="card-body plan-card-body" style=" padding-top: 140px;">
                  
                    <span class="miparrafo">Co-creación</span> y <br>colaboración 
                    
                  </div>

              </div>
          </div>
        </div>




        <br>

      </div>

    </div>


    <div class="banner" #banner style="display: none;">
      <ul class="redes-sociales">
        
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/whatsapp.svg" alt="whatsapp"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/facebook.svg" alt="Facebook"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/instagram.svg" alt="Instagram"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/link.svg" alt="Link"></a></li>
        <!-- Añade más iconos de redes sociales si lo deseas -->
      </ul>
    </div>


    <div class="mapa-container">

      <div class="row" >

        <div class="container"> <strong><p class="text-center" style=" margin-top: 25px; margin-bottom: 40px; font-family: BebasNeueBold;font-size: 40px; line-height: 1;">  HACEMOS VISIBLE <br> <span style="font-size: 45px;">LO INVISIBLE</span></p></strong></div>
  
       </div>


  

       <div class="row">

        <div class="container">
        
          <!-- Aca ubico las ruedas-->
          <div class="col-md-12">

            <div class="texto-superpuesto2">

            <img style="width: 550px; height: 200px;"   src="assets/imagenes/ruedas/otrosIconos/recurso19.svg" alt="Invisible" >

            </div>

            <span style="cursor: pointer; z-index: 7; position: absolute; margin-top: 60px; margin-left: 290px;
            " (click)="resurso21()">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</span>

            <div class="texto-superpuesto3 animate-text delay-1" id="resurso21">

              <span style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="conexion" alt="Logotipo"></span>

              </div>

              <div class="texto-superpuesto3Info" id="recurso21Info" *ngIf="mostrarRecurso21Info" (click)="resurso21()">

                <img style="width: 600px; height: 232px; cursor: pointer; margin-top: 0.5%;"   src="assets/imagenes/ruedas/Recurso21.svg" alt="Invisible" >
    
                </div>

               
              
                <span style="cursor: pointer; z-index: 7; position: absolute; margin-top: 180px; margin-left: 390px;
                " (click)="resurso22()">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</span>


              <div class="texto-superpuesto4 animate-text delay-1">


                <span style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="posicionamiento" alt="Logotipo"></span>
    
                </div>

                <div class="texto-superpuesto4Info" *ngIf="mostrarRecurso22Info" (click)="resurso22()">

                  <img style="width: 600px; height: 232px; cursor: pointer; margin-left: 0.2%;"   src="assets/imagenes/ruedas/Recurso22.svg" alt="Invisible" >
      
                  </div>

                  <span style="cursor: pointer; z-index: 17; position: absolute; margin-top: 310px; margin-left: 400px;
                  " (click)="resurso23()">&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</span>

                <div class="texto-superpuesto5 animate-text delay-1">

                  

                  <span style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="innovacion" alt="Logotipo"></span>
    
      
                  </div>

                  <div class="texto-superpuesto5Info" *ngIf="mostrarRecurso23Info" (click)="resurso23()">

                    <img style="width: 600px; height: 232px; cursor: pointer;"   src="assets/imagenes/ruedas/Recurso23.svg" alt="Invisible" >
        
                    </div>

                    <span style="cursor: pointer; z-index: 7; position: absolute; margin-top: 410px; margin-left: 280px;
                    " (click)="resurso24()">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;</span>

                  <div class="texto-superpuesto6 animate-text delay-1">


                    <span style="width: 310px; margin-top: -160px; margin-right: -160px;" class="logo" id="cultura" alt="Logotipo"></span>
        
                    </div>

                    <div class="texto-superpuesto6Info" *ngIf="mostrarRecurso24Info" (click)="resurso24()">

                      <img style="width: 600px; height: 232px; cursor: pointer;"   src="assets/imagenes/ruedas/Recurso24.svg" alt="Invisible" >
          
                      </div>

            <img style="width: 500px;"   src="assets/imagenes/RuedaEsq.svg" alt="Invisible" >
          </div>

          <p id="lineaTexto2" style="z-index: 7; position: absolute;width: 11%; margin-left: 20%; margin-top: -22.5%; display: block;"> </p>

          <p style="z-index: 7; position: absolute; font-size: 12px; margin-left: 21%; margin-top: -15%; display: block; line-height: 1;">Develar Insights poderosos para encontrar <br> verdades e identificar tensiones.</p>

        
        </div>
   
   
       </div>

       <p id="lineaTexto3" style="position: absolute;width: 15%; margin-left: 42.9%; margin-top: -2%; display: block;"> </p>


       <div class="row" style="margin-top: 95px;">

        <div class="container">

          <div class="row">

          <div class="col-md-2"></div>

          <div class="col-md-8">
          <p  style=" margin-top: 25px; font-size: 15px; line-height: 1; color: gray;"> <strong>Arquetipamos bajo un enfoque estructural, humanizando la marca, la categoría, el negocio y la gente: </strong>asignandoles un propósito, un punto de ista y una forma de relacionarse con su entorno para definir su rol en la vida del cliente, del consumidor o del negocio.  </p>
        </div>

        <div class="col-md-2"></div>
        
        </div>

      </div>
   
   
       </div>

       <div class="row" style="margin-top: 50px; margin-bottom: 100px;">

          <!-- Aca ubico las ruedas-->
          <div class="col-md-12">

            <div class="texto-superpuesto7">

              <span style="width: 295px;  margin-top: -154px; margin-right: -153px;" class="logo" id="flor" alt="Logotipo"></span>

  
              </div>

              <span style="cursor: pointer; z-index: 4; position: absolute; top: 9%;
                left: 53.3%; color: transparent;" (click)="resurso30()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                <div class="texto-superpuesto7" style="z-index: 3; margin-top: -0.18%; margin-left: 5.6%;" *ngIf="mostrarRecurso30Info">

                  <img style="width: 550px; height: 220px;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso30.svg"  >

                </div>

              <div class="texto-superpuesto8">

                <span style="width: 295px;  margin-top: -154px; margin-right: -155px;" class="logo" id="buho" alt="Logotipo"></span>

    
                </div>

                <span style="cursor: pointer; z-index: 4; position: absolute; top: 19%;
                left: 60%; color: transparent;" (click)="resurso31()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                 <div class="texto-superpuesto8" *ngIf="mostrarRecurso31Info">

                <img style="width: 550px; height: 220px; margin-top: -10%; margin-left: 5%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso31.svg"  >
    
                </div>

                <div class="texto-superpuesto9">

                  <span style="width: 295px;  margin-top: -153px; margin-right: -155px;" class="logo" id="paisaje" alt="Logotipo"></span>
      
                  </div>

                  <span style="cursor: pointer; z-index: 3; position: absolute; top: 37%;
                  left: 65%; color: transparent;" (click)="resurso32()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                   <div class="texto-superpuesto9" *ngIf="mostrarRecurso32Info">

                  <img style="width: 550px; height: 170px; margin-left: 6%; margin-top: -4.8%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso32.svg"  >
      
                  </div>

                  <div class="texto-superpuesto10">

                    <span style="width: 295px;  margin-top: -156px; margin-right: -155px;" class="logo" id="medalla" alt="Logotipo"></span>
        
                    </div>

                    <span style="cursor: pointer; z-index: 3; position: absolute; top: 58%;
                  left: 65%; color: transparent;" (click)="resurso33()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                  <div class="texto-superpuesto10" *ngIf="mostrarRecurso33Info">

                    <img style="width: 550px; height: 170px; margin-top: 4%; margin-left: 6%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso33.svg"  >
        
                    </div>

                    <div class="texto-superpuesto11">

                      <span style="width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="mago" alt="Logotipo"></span>
          
                      </div>

                      <span style="cursor: pointer; z-index: 3; position: absolute; top: 74%;
                      left: 60%;" (click)="resurso34()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                      <div class="texto-superpuesto11" *ngIf="mostrarRecurso34Info">

                      <img style="width: 550px; height: 215px; margin-top: 7.8%; margin-left: 5%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso34.svg"  >
          
                      </div>
    

                      <div class="texto-superpuesto12">

                        <span style="width: 295px;  margin-top: -152px; margin-right: -151px;" class="logo" id="manoEstrella" alt="Logotipo"></span>
            
                        </div>

                        <span style="cursor: pointer; z-index: 3; position: absolute; top: 87%;
                        left: 54%;" (click)="resurso35()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                        <div class="texto-superpuesto12" *ngIf="mostrarRecurso35Info">

                        <img style="width: 550px; height: 220px; margin-left: 2.8%; margin-top: 11.2%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso35.svg"  >
            
                        </div>

                        <div class="texto-superpuesto13">

                          <span style="width: 295px;  margin-top: -149px; margin-right: -158px;" class="logo" id="casa" alt="Logotipo"></span>
              
                          </div>

                          <span style="cursor: pointer; z-index: 3; position: absolute; top: 85%;
                        left: 45%;" (click)="resurso36()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                          <div class="texto-superpuesto13" *ngIf="mostrarRecurso36Info">

                          <img style="width: 550px; height: 220px; margin-top: 11.5%; margin-left: -3.5%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso36.svg"  >
              
                          </div>

                          <div class="texto-superpuesto14">

                            <span style="width: 295px;  margin-top: -148px; margin-right: -154px;" class="logo" id="bufon" alt="Logotipo"></span>
                
                            </div>

                            
                          <span style="cursor: pointer; z-index: 3; position: absolute; top: 73%;
                          left: 38%;" (click)="resurso37()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                          <div class="texto-superpuesto14" *ngIf="mostrarRecurso37Info">

                            <img style="width: 550px; height: 230px; margin-top: 11%; margin-left: -6.5%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso37.svg"  >
                
                            </div>

                            <div class="texto-superpuesto15">

                              <span style="width: 295px;  margin-top: -151px; margin-right: -153px;" class="logo" id="corazones" alt="Logotipo"></span>
                  
                              </div>

                              <span style="cursor: pointer; z-index: 3; position: absolute; top: 58%;
                              left: 35%;" (click)="resurso38()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                               <div class="texto-superpuesto15" *ngIf="mostrarRecurso38Info">

                              <img style="width: 550px; height: 180px; margin-top: 6%; margin-left: -7%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso38.svg"  >
                  
                              </div>

                              <div class="texto-superpuesto16">

                                <span style="width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="corazon" alt="Logotipo"></span>
                    
                                </div>

                                <span style="cursor: pointer; z-index: 3; position: absolute; top: 38%;
                              left: 34%;" (click)="resurso39()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                               <div class="texto-superpuesto16" *ngIf="mostrarRecurso39Info">

                                <img style="width: 550px; height: 180px; margin-left: -7%; margin-top: -6.3%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso39.svg">
                    
                                </div>

                                <div class="texto-superpuesto17">

                                  <span style="width: 295px;  margin-top: -154px; margin-right: -153px;" class="logo" id="corona" alt="Logotipo"></span>
                      
                                  </div>

                                  <span style="cursor: pointer; z-index: 3; position: absolute; top: 18%;
                                  left: 38%;" (click)="resurso40()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                                  <div class="texto-superpuesto17" *ngIf="mostrarRecurso40Info">

                                  <img style="width: 550px; height: 230px; margin-top: -11%; margin-left: -5.7%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso40.svg"  >
                      
                                  </div>

                                  <div class="texto-superpuesto18">

                                
                                                         
              <span style="width: 295px;  margin-top: -154px; margin-right: -154px;" class="logo" id="bombillo" alt="Logotipo"></span>
                        
                                    </div>

                                    <span style="cursor: pointer; z-index: 3; position: absolute; top: 9%;
                                    left: 46%;" (click)="resurso41()">&nbsp; &nbsp; &nbsp; &nbsp;</span>

                                    <div class="texto-superpuesto18" *ngIf="mostrarRecurso41Info">

                                    <img style="width: 550px; height: 225px; margin-top: -12%; margin-left: -3%;"   src="assets/imagenes/grafica2/CardsGrandes/Recurso41.svg"  >
                        
              
                                    </div>
                                    

            <img style="width: 550px;"   src="assets/imagenes/ruedas/Recurso132.svg" alt="Invisible" >
          </div>
          

        
       </div>
       <br>
       
      
    
        <button class="btn custom-button clicked" id="miBoton2"  style=" right: 150px; width: 150px; height: 35px; margin-left: 3%; margin-top: 70%; font-family: TransducerRegular; padding-top: 5px; margin-bottom: 20px;">Contáctanos</button>


    </div>
    <br>

    <div class="row">

    <div class="container" >
        <!-- Primera fila -->
        <div class="row" >
            <div class="col-md-6 subtitleMain" style="background-color: transparent;">
                <div class="border-0" style="background-color: transparent; margin-left: 170px; margin-top: 50px;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
             
                        <strong><p  style="line-height: 1; ">
                        
                            <span class="consultoraH" style="font-size: 35px;">CONOCE NUESTRO <br> CASO DE EXITO</span>
                        </p>
                     
                        </strong>
                    <button class="btn custom-button superpuestoejemplo" style="width: 150px; height: 35px; margin-left: 49%; margin-top: 25%; font-family: TransducerRegular; padding-top: 5px;" >Contáctanos</button>
                </div>

                <p id="lineaTexto4" style="z-index: 7; position: absolute;width: 28%; margin-left: 29%; margin-top: -16.8%; display: block;"> </p>

               
            </div>
    

            <div class="col-md-4">
              <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                <div class="">
                    <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                </div>
                
                <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                    <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                </div>

             
            </div>
            </div>
        </div>

       
    </div>

  </div>

  <div class="mapa-container">

    <div class="container">
    <div class="row">

       <strong><p style=" margin-top: 25px; font-family: BebasNeueBold;font-size: 40px; line-height: 1; "> <span style="margin-left: 65px;">MODELO DE PENSAMIENTO Y</span> <br> <span style="font-size: 40px; margin-left: 40px;">FUENTES DE INSPIRACIÓN:</span></p></strong></div>

     
       <p id="lineaTexto5" style="z-index: 7; position: absolute;width: 28%; margin-left: 1%; margin-top: -15%; display: block;"> </p>

 
       <div class="row"> 
        <strong><span style="color: gray; margin-left: 65px; margin-top: 10px;">Movilizar nuevos minseds con modelos de pensamiento, diseño, creatividad y conocimiento.</span></strong>
       </div>
     </div>


    <div class="row" style="margin-top: 145px; margin-bottom: 120px;">

      <div class="container"> 
      <!-- Aca ubico las ruedas-->
          <!-- Aca ubico las ruedas-->
          <div class="col-md-12">

        

            <div class="texto-superpuestoG1" id="resurso21" >

              <span style="width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="gamificacion" alt="Logotipo"></span>
                    
  
              </div>

          

              <div class="texto-superpuestoG2">

                <span style="width: 295px;  margin-top: -153px; margin-right: -145px;" class="logo" id="social" alt="Logotipo"></span>
    
                </div>

              

                <div class="texto-superpuestoG3">

                  <span style="width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="scp" alt="Logotipo"></span>
      
                  </div>

                  <div class="texto-superpuestoG4">

                    <span style="width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="6sombreros" alt="Logotipo"></span>
        
                    </div>

                    
                  <div class="texto-superpuestoG5">

                    <span style="width: 295px;  margin-top: -153px; margin-right: -153px;" class="logo" id="rastreo" alt="Logotipo"></span>
        
                    </div>

                    <div class="texto-superpuestoG6">

                      <span style="width: 295px;  margin-top: -153px; margin-right: -161px;" class="logo" id="realidadVirtual" alt="Logotipo"></span>
          
                      </div>

                      <div class="texto-superpuestoF1">

                        <img style="width: 50px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso65.svg" alt="Invisible" >
            
                        </div>

                        <div class="texto-superpuestoF2">

                          <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso66.svg" alt="Invisible" >
              
                          </div>

                          <div class="texto-superpuestoF3">

                            <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso61.svg" alt="Invisible" >
                
                            </div>

                            
                          <div class="texto-superpuestoF4">

                            <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso62.svg" alt="Invisible" >
                
                            </div>

                            <div class="texto-superpuestoF5">

                              <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso63.svg" alt="Invisible" >
                  
                              </div>

                              <div class="texto-superpuestoF6">

                                <img style="width: 80px; height: 80px; cursor: pointer;"   src="assets/imagenes/grafica3/Recurso64.svg" alt="Invisible" >
                    
                                </div>


            <img style="width: 500px;"   src="assets/imagenes/grafica3/Recurso153.svg" alt="Invisible" >
          </div>
      
      
      </div>
 
 
     </div>
     <br>
   <br>
   <br>     
    
     <button class="btn custom-button"  style=" bottom: 2%; right: 150px; width: 150px; height: 35px; margin-left: 3%; margin-top: 70%; font-family: TransducerRegular; padding-top: 5px;">Contáctanos</button>

<br>
  </div>

    
  
  <div class="row">

    <div class="container">

       

      <!-- Primera fila -->
      <div class="row">
          <div class="col-md-12 subtitleMain" style="background-color: transparent;">
              <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                
      
                      <strong><p class="consultora" style="line-height: 1; "><span style="margin-left: -220px;">¿QUIÉNES</span> <br><span class="miparrafo" style="font-size: 40px; margin-left: 20px;">LO HACEN POSIBLE?</span> 
                   
                      </p>
                    </strong>
                 
              </div>

              <p id="lineaTexto6" style="z-index: 7; position: absolute;width: 10%; margin-left: 35%; margin-top: -14.4%; display: block;"> </p>

          </div>
          
      </div>

         <!-- Segunda fila -->
         <div class="row" style="margin-top: -10px;">
          <div class="col-md-3" style="cursor: pointer;" (click)="mostrarCerebro2()">
              <div class="card plan cartas" [ngClass]="{ 'ocultar': !cartaCerebro2 }" id="cerebro2x">
                <span style="width: 100px; margin-top: 15px; margin-right: 60px;" class="logo" id="cerebro2" alt="Logotipo"></span>

                  <div class="card-body plan-card-body text-center" style=" padding-top: 140px;">
                  
                    <span class="miparrafo" style="font-size: 15px;">Expertos en <br> comprensión <br>humana:</span>
                    
                    
                  </div>
              </div>
              <div style="border: 3px solid #DC1A4D;" class="card plan cartas" [ngClass]="{ 'ocultar': cartaCerebro2 }" id="cerebro2Info">
            
                <div class="card-body plan-card-body" style=" padding-top: 33px; padding-bottom: 14px;">
                
                  <p style="font-size: 15px; color: gray; line-height: 1;">Antropólogos psicólogos, sociólogos, pedagogos y estadistas, comparten sus conocimientos para entender los fenómenos humanos, generando interpretaciones únicas de cada uno de nuestros proyectos.</p>
                  
                </div>
            </div>
          </div>

         

          

          <div class="col-md-3" style="cursor: pointer;" (click)="mostrarPluma()">

            <div class="card plan cartas " id="card_plan_1" [ngClass]="{ 'ocultar': !cartaPluma }">
              <span style="width: 100px; margin-top: 15px; margin-right: 60px;" class="logo" id="pluma" alt="Logotipo"></span>

                <div class="card-body plan-card-body text-center" style=" padding-top: 140px;">
                
                  <span class="miparrafo" style="font-size: 15px;">Expertos <br>creatividad, diseño <br> y desarrollo:</span>
                </div>
            </div>

            <div style="border: 3px solid #DC1A4D;" class="card plan cartas" [ngClass]="{ 'ocultar': cartaPluma }">
            
              <div class="card-body plan-card-body" style=" padding-top: 80px; padding-bottom: 56px;">
              
                <p style="font-size: 15px; color: gray; line-height: 1;">Especialistas en activación de modelos de pensamiento, creatividad, diseño, semiótica y multimedia.</p>
                
              </div>
          </div>

          </div>

          <div class="col-md-3" style="cursor: pointer;" (click)="mostrarDiana()">

            <div class="card plan cartas " id="card_plan_1" [ngClass]="{ 'ocultar': !cartaDiana }">
              
                
              <span style="width: 100px; margin-top: 15px; margin-right: 60px;" class="logo" id="diana" alt="Logotipo"></span>

                <div class="card-body plan-card-body text-center" style=" padding-top: 140px;">
                
                  <span class="miparrafo" style="font-size: 15px;">Expertos en <br>activación <br> estratégica:</span>
                          
                </div>

            </div>

            <div style="border: 3px solid #DC1A4D;" class="card plan cartas" [ngClass]="{ 'ocultar': cartaDiana }">
            
              <div class="card-body plan-card-body" style=" padding-top: 27px;">
              
                <p style="font-size: 15px; color: gray; line-height: 1;">Profesionales experimentados en la planeación estrategíca, mercadeo, comunicación, transformación del ser y negocios, comparten sus conocimientos para la identificación de espacios de oportunidad.</p>
                
              </div>
          </div>

        </div>

        <div class="col-md-3">
          <div class="card plan cartas " id="card_plan_1">
            
                <div class="card-body plan-card-body text-center" style=" padding-top: 40px; padding-bottom: 60px;">
                
                  <span class="miparrafo" style="font-size: 15px;">Expertos en logística <br>y gestión de <br>proyectos:</span>
                       
                  <button class="btn" style="background: linear-gradient(to right, #E38520, #DC1A4D); color: white; box-shadow: none; margin-top: 20px;" data-toggle="modal" data-target="#imagenModal">conócenos</button>
              
                </div>
           
          </div>
      </div>

      </div>




      <br>

    </div>

  </div>



     <div  style=" background-image: url('assets/videos/ondaRoja2.gif'); ">
      <!-- Primera fila -->

      <div class="container">

        

      <div class="row">
          <div class="col-md-5 " style="background-color: transparent; margin-top: 90px;">
            
              <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
              
                    <p class="btn custom-button2" style="font-family: BebasNeueBold; font-size: 25px; line-height: 1;"> <img style="width: 30px; padding-top: 5px; padding-right: 5px;" src="assets/imagenes/iconos/whatsapp.svg" alt="">¿TIENES UN RETO<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  PARA NOSOTROS? </p>
             
                   
                 

              </div>
              
              <div style="margin-left: 130px;">

              <div>
                <p style="color: gray;"><strong>Bogotá</strong> <br> <br> Cra 49B No 104-75 <br> Tel: (+57) 318 355 19 94</p>
              </div>

              <div>
                <p style="color: gray;"><strong>Cali</strong> <br> <br> Calle 3 No 57-31 <br> Tel: (+57) 2 400 21 28</p>
              </div>

            </div>

          </div>
          <div class="col-md-7">
              <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                  <div class="card-body" style="margin-top: 30px; margin-left: 190px;">

                    <input type="text" class="form-control" placeholder="Nombre">
                    <br>
                    <input type="text" class="form-control" placeholder="Email">
                    <br>
                    <textarea name="" id="" cols="30" class="form-control" placeholder="Cúentanos qué reto tienes para nosotros" rows="8"></textarea>
                    <br>
                    <button type="button" class="btn btn-secondary" style="background: linear-gradient(to right, #E38520, #DC1A4D);">Enviar</button>

                
                   
                  </div>

                  
              </div>

          </div>
      </div>

  

      

    </div>
      

  </div>

</div>


<div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: transparent; margin-top: 100px;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background-color: transparent; box-shadow: none;">
   
      <div class="modal-body">
        <!-- Contenido de la galería -->
        <div id="logoCarousel2" class="carousel slide" data-ride="carousel" style="background-color: transparent; margin-left: 50px;">
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="row">
                <!-- Logo 1 -->
                <div class="col-md-12">
                 <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                   <div class="">
                       <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                   </div>
                   
                   <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                       <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                   </div>

                
               </div>
                </div>
             
           
              </div>
            </div>
         
            <div class="carousel-item">
             <div class="row">
               <!-- Logo 1 -->
               <div class="col-md-12">
                 <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                   <div class="">
                       <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                   </div>
                   
                   <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                       <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                   </div>

                
               </div>
               </div>
              
          
             </div>
           </div>
            <!-- Agrega más slides según sea necesario -->
          </div>
          
          <ol class="carousel-indicators">
           <li data-target="#logoCarousel2" data-slide-to="0" class="active"></li>
           <li data-target="#logoCarousel2" data-slide-to="1"></li>
           <!-- Agrega más indicadores según sea necesario -->
         </ol>
        </div>
      </div>
      
    </div>
  </div>
</div>







 
 
 

  