

<div class="contenido">    
    <!-- Inicio  slider  -->
      

    

    <div class="video-container" style="margin-right: -90px;">

        <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
    

    <div class="texto-superpuesto subtitleMain" style=" margin-left: -100px;">

        <span style="font-size: 65px;" class="animate-text delay-1">¡HOLA!</span>
        <p  class="texto2 animate-text delay-2">Te damos la bienvenida a SL</p>
        <span class="animate-text delay-3">HACEMOS VISIBLE</span>
    
        <p id="titulobanner" class="texto-superpuestoTituloBanner animate-text delay-4" style="margin-top: -50px; margin-left: -10px;"></p>  
  
    </div>

    </div>
    <!-- Fin  slider  --> 
    
    

    <div class="row" style="background-image: url('assets/videos/ondaGris.gif'); ">

      <div class="container">
        <!-- Primera fila -->
        <div class="row">
            <div class="col-md-5 subtitleMain" style="background-color: transparent;">
                <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                  
                  
                  <div class="card-body">
                        <strong><p class="consultora" style="line-height: 1; ">SOMOS UNA CONSULTORA <br><span class="consultora">EXPERTA EN <span class="consultoraH">LA HUMANIZACIÓN</span></span>
                     
                        </p>

                        <div class="consultoraH" style="margin-top: -18px;">DE LOS NEGOCIOS</div>
                     
                        </strong>
                        
                        <p id="lineaTexto" style="width: 75%; margin-left: -30px; margin-top: -39.8%; display: block;"> </p>

                        <p id="lineaTexto2" style="width: 78%; margin-left: 73px; margin-top: -315px; display: block;"> </p>
                    </div>

                   
                </div>
            </div>
            <div class="col-md-7">
                <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                    <div class="card-body">
                        <p style="font-size: 12px; text-align: justify;">Nacimos hace más de 23 años con un interes en la <strong> humanización de los negocios,</strong> por eso hemos desarrollado <strong>modelos de comprensión humana</strong> que generan valor estratégico a diferentes negocios y organizacioes en LATAM. 
                        Detectamos <strong>insights</strong> poderosos que nos permite visualizar verdades ocultas e idetiificar tensiones, y los activamos a traves de los <strong>arquetipos</strong> 
                        para crear escenarios de conexión relevante y transformar <strong>mindsets.</strong> Así aportamos al progreso personal, social y económico.   
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <!-- Segunda fila -->
        <div class="row" style="margin-top: -20px;">
            <div class="col-md-6">
            
              
              <span style="width: 120px; margin-top: -60px; margin-right: 90px;" class="logo" id="ojo" alt="Logotipo"></span>

              <img src="assets/imagenes/cardPersonalizada.svg" style="width: 90%; margin-left: 25px; margin-top: -30px;" alt="">



                <div class="card plan custom-card texto-superpuestocard" id="card_plan_1" style="background-color: transparent; border: none;">
                    <div class="">
                        <strong><h4 style="padding-left: 30px; padding-top: 5px;font-family: BebasNeueBold; color: black; font-size: 30px;">DESCUBRIMOS</h4></strong>
                    </div>
                    
                    <div class="card-body plan-card-body" style="padding-left: 30px; padding-top: 20px;">
                        <span>Generamos conocimiento estratégico revelando <span class="miparrafo">Insights Poderosos</span> articulando datos valiosos para facilitar decisiones de negocio. </span>
                    </div>

                 
                </div>

                

                
            </div>
            <div class="col-md-6">

              <span style="width: 120px; margin-top: -60px; margin-right: 90px;" class="logo" id="cerebro" alt="Logotipo"></span>

              <img src="assets/imagenes/cardPersonalizada.svg" style="width: 90%; margin-left: 25px; margin-top: -30px;" alt="">

              <div class="card plan custom-card texto-superpuestocard" id="card_plan_1" style="background-color: transparent; border: none;">
                <div class="">
                    <strong><h4 style="padding-left: 30px; padding-top: 5px;font-family: BebasNeueBold; color: black; font-size: 30px;">ACTIVAMOS</h4></strong>
                </div>
                
                <div class="card-body plan-card-body" style="padding-left: 30px; padding-top: 20px;">
                  <span>Insights a traves de arquetipos en <span class="miparrafo">Estrategias de Negocio </span> innovando para la transformación de las empresas y sus equipos.</span>
                 
                </div>

             
            </div>

              

                

            </div>
        </div>

    

        <!-- Tercera fila con columna centrada -->
        <div class="row justify-content-center" style="margin-top: 100px; margin-bottom: 100px;">

            <div class="col-md-6">

              
              <span style="width: 120px; margin-top: -70px; margin-right: 90px;" class="logo" id="flecha" alt="Logotipo"></span>

              <img src="assets/imagenes/cardPersonalizada.svg" style="width: 90%; margin-left: 25px; margin-top: -30px;" alt="">

              <div class="card plan custom-card texto-superpuestocard" id="card_plan_1" style="background-color: transparent; border: none; margin-top: 38px;">
                <div class="">
                    <strong><h4 style="padding-left: 30px; padding-top: 5px;font-family: BebasNeueBold; color: black; font-size: 30px;">POTENCIALIZAMOS</h4></strong>
                </div>
                
                <div class="card-body plan-card-body" style="padding-left: 30px; padding-top: 20px;">
                  <span>El éxito de los negocios, <span class="miparrafo"> alineando el potencial de los equipos </span> internos con los objetivos y la estrategía.</span>
                    
                </div>

             
            </div>


            </div>

        </div>


        <div class="container" style="position: relative;">
    
            <button class="btn custom-button"  style="position: absolute; bottom: 0; right: 0; width: 150px; height: 35px; margin-left: 3%; margin-top: 25%; font-family: TransducerRegular; padding-top: 5px;">Contáctanos</button>
        </div>


        <br>

      </div>

    </div>


    <div class="banner" #banner style="display: none;">
      <ul class="redes-sociales">
        
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/whatsapp.svg" alt="whatsapp"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/facebook.svg" alt="Facebook"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/instagram.svg" alt="Instagram"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/link.svg" alt="Link"></a></li>
        <!-- Añade más iconos de redes sociales si lo deseas -->
      </ul>
    </div>
 


    <div class="mapa-container">

    

        

        <div class="container">
            <div class="row">
   
            <div class="col-md-12">
            <img style="width: 545px;"   src="assets/imagenes/mapa.svg" alt="Invisible" >
        </div>

     

    </div>
            
        </div>

    <div class="texto-colombia">

       
    
        <p style="margin-top: -6px; margin-left: 47px; width: 12.5%;" id="colombia"><span class="animate-text delay-2" #colombia style="display: none;">Colombia</span></p>
       
       
    </div>

    

    <div class="texto-salvador">

       
    
      <p id="peru" style="margin-top: 370px; margin-left: 175px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #peru>Peru</span></p>
     
     
  </div>

  <div class="texto-salvador">

       
    
    <p id="ecuador" style="margin-top: 216px; margin-left: 141px; width: 7%;"><span class="animate-text delay-2" style="display: none;" #ecuador>Ecuador</span></p>
   
   
</div>

  
  <div class="texto-salvador">

       
    
    <p id="chile" style="margin-top: 500px; margin-left: 205px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #chile>Chile</span></p>
   
   
</div>

   

    <div class="texto-mexico">

       
    
        <p id="mexico" style="margin-top: -5px; margin-left: 115px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #mexico>Mexico</span></p>
       
       
    </div>

    <div class="texto-mexico">

       
    
      <p id="panama" style="margin-top: 190px; margin-left: 260px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #panama>Panama</span></p>
     
     
  </div>

  <div class="texto-mexico">

       
    
    <p id="argentina" style="margin-top: 815px; margin-left: 345px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #argentina>Argentina</span></p>
   
   
</div>


    <div class="texto-salvador">

       
    
      <p id="salvador" style="margin-top: -14px; margin-left: 65px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #salvador>Salvador</span></p>
    
     
  </div>

  <div class="texto-salvador">

       
    
    <p id="honduras" style="margin-top: -32px; margin-left: 90px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #honduras>Honduras</span></p>
  
   
</div>


  <div class="texto-salvador">

       
    
    <p id="guatemala" style="margin-top: -51.6px; margin-left: 60px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #guatemala>Guatemala</span></p>
   
   
</div>


<div class="texto-salvador">

       
    
  <p id="dominicana" style="margin-top: -110px; margin-left: 190px; width: 6.5%;"><span class="animate-text delay-2" style="display: none;" #dominicana>Rep. Dominicana</span></p>
 
 
</div>

    <div class="texto-superpuesto2 subtitleMain">

       <p id="titulomapa"></p>
      
    </div>

    <div class="texto-superpuesto3">

        <p style="margin-left: -100px; margin-bottom: -120px; width: 260px;" id="lineach"></p>
       
        <strong><p  style="line-height: 1; font-size: 12px; color: gray; text-align: left;" class="texto2">Hemos impactado a más de 60 <br> oganizaciones de la región,alineando <br> el talento y las habilidades de las <br> personas a favor de los retos y metas <br> de los negocios.</p>
        </strong>
    </div>




    </div>

    <div class="row">

    <div class="container" >
        <!-- Primera fila -->
        <div class="row" >
            <div class="col-md-4 subtitleMain" style="background-color: transparent;">
                <div class="border-0" style="background-color: transparent; margin-left: 170px; margin-top: 50px;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
             
                        <strong><p class="consultora" style="line-height: 1; "><span class="consultoraH">TRABAJAMOS</span>
                        <br>
                            <span class="consultoraH" style="font-size: 30px; padding-left: 30px;">DE LA MANO CON</span>
                        </p>
                     
                        </strong>

                        <p id="lineaTexto3" style="width: 100%; margin-left: -23px; margin-top: -138px;"> </p>


                 

                    <button class="btn custom-button superpuestoejemplo" style="width: 150px; height: 35px; margin-left: 49%; margin-top: 45%; font-family: TransducerRegular; padding-top: 5px;" >Contáctanos</button>
                </div>
               
            </div>
            
            <div class="col-md-4">

              <div *ngIf="botonEmpresasRojo" class="card plan  cartas " style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px; margin-top: 50px;" id="card_plan_1">
                <div class="">
                    <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;" class="miparrafo">Grandes Empresas</span>
                </div>

                <img class="logo" (click)="ocultarInfoEmpresas()" style="cursor: pointer;width: 25px; padding-top: 7px; padding-right: 5px;" src="assets/imagenes/iconos/flechaRoja.svg" alt="Logotipo">
            </div>


            <div *ngIf="espacioRojo" style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px; margin-top: 53px;">
              <div class="" style="background-color: transparent;">
                <span style="padding-left: 10px; padding-top: 10px;"></span>
            </div>
            </div>

            <div *ngIf="botonEmprendimientosRojo" [style.margin-top]="marginTopDiv" class="card plan  cartas " style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px;" id="card_plan_1">
              <div class="">
                  <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;" class="miparrafo">Emprendimientos</span>
              </div>
              
              <img class="logo" (click)="ocultarInfoEmprendimientos()" style="cursor: pointer;width: 25px; padding-top: 7px; padding-right: 5px;" src="assets/imagenes/iconos/flechaRoja.svg" alt="Logotipo">
          </div>


            </div>

            <div class="col-md-4">
                
              <div *ngIf="botonEmpresasBlanco" class="card plan cartas custom-button" style="padding-top: 20px; padding-bottom: 20px; margin-top: 50px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
                <div class="">
                    <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;">Grandes Empresas</span>
                </div>
                
                

                <img class="logo" style="width: 30px; padding-top: 13px; padding-right: 5px; cursor: pointer;" (click)="mostrarInfoEmpresas()" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
             
            </div>

            <div *ngIf="infoEmpresas" class="card plan cartas " style="padding-top: 10px; padding-bottom: 20px; margin-top: 50px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
              
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Transformamos</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Visiones. </span></p>
      
       
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Consolidamos el hoy</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Para sostener y crear bases<br> solidas.</span></p>
           
       
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Creamos futuro</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Nuevas posturas. <br>Nuevos caminos.</span></p>
           
              
           
          </div>

            <div *ngIf="botonEmprendimientosBlanco" class="card plan cartas custom-button" style="cursor: pointer;padding-top: 20px; padding-bottom: 20px; margin-top: -20px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
              <div class="">
                  <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;">Emprendimientos</span>
              </div>

              <img class="logo" (click)="mostrarInfoEmprendimientos()" style="width: 30px; padding-top: 13px; padding-right: 5px; cursor: pointer;" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
           
              

          </div>

          

        <div *ngIf="infoEmprendimientos" class="card plan cartas " style="padding-top: 10px; padding-bottom: 20px; margin-top: -20px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
      
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Acompañamos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Al emprendedor a enteder <br> la escencia de su proyecto y <br> su alineación personal con él. </span></p>

 
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Detonamos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Nuevas decisiones dentro del<br> emprendimiento existente,<br> realizando exploraciones y <br>reflexiones para optimizar <br>sus resultados </span></p>
     
 
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Expandimos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">El impacto de un empresario <br>u organización consolidados <br>dentro de la sociedad y su <br>mercado, o nuevos mercados <br> a explorar.</span></p>
     
      </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-4" style="margin-left: -160px;">
               
                </div>


                <div class="col-md-8">
                    
                </div>


        </div>

        <br>

    </div>

  </div>
    
 

    <div class="row" style="background-color: black;">

     <div class="container"> <strong><p class="text-center" style="color: white; margin-top: 5px; font-family: BebasNeueBold;font-size: 25px;">  NUESTROS  <span style="font-size: 40px;">ALIADOS</span></p></strong></div>

     <p id="lineaTexto5" class="texto-superpuestoAliados"> </p>

    </div>

    



    <div class="row" style="background-color: black;">


      <div class="col-md-1"></div>

        <div class="col-md-10">
            <div id="logoCarousel" class="carousel slide" data-ride="carousel" style="background-color: black; margin-left: -10px; margin-bottom: 20px;" >
                <div class="carousel-inner">
                  <!-- Slide 1 -->
                  <div class="carousel-item active">
                    <div class="row">
                      <!-- Logo 1 -->
                      <div class="col-md-3">
                        <img src="assets/imagenes/iconos/cocacola.png" style="width: 100px;" class="d-block mx-auto" alt="Logo 11">
                      </div>
                      <!-- Logo 2 -->
                      <div class="col-md-3">
                        <img src="assets/imagenes/iconos/belcorp.png"  class="d-block mx-auto" alt="Logo 2">
                      </div>
                      <!-- Logo 3 -->
                      <div class="col-md-3">
                        <img src="assets/imagenes/iconos/abinbev.png" class="d-block mx-auto" style="height: 20px; margin-top: 20px; width: 110px;" alt="Logo 3">
                      </div>
                      <!-- Logo 4 -->
                      <div class="col-md-3">
                        <img src="assets/imagenes/iconos/totalmenteconfiable.png" style="width: 70px; height: 60px;" class="d-block mx-auto" alt="Logo 4">
                      </div>
                    </div>
                  </div>
                  <!-- Slide 2 -->
                  <div class="carousel-item">
                      <div class="row">
                          <!-- Logo 1 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/colombina.png" style="width: 115px; height: 50px;" class="d-block mx-auto" alt="Logo 11">
                          </div>
                          <!-- Logo 2 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/pepsico.png" style="width: 125px; height: 30px;" class="d-block mx-auto" alt="Logo 2">
                          </div>
                          <!-- Logo 3 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/scotiabank.png" style="width: 165px; height: 25px; margin-top: 10px;" class="d-block mx-auto" alt="Logo 3">
                          </div>
                          <!-- Logo 4 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/colpensiones.png" style="width: 132px; height: 40px; margin-bottom: 20px;" class="d-block mx-auto" alt="Logo 4">
                          </div>
                        </div>
                  </div>
      
                  <!-- Slide 2 -->
                  <div class="carousel-item">
                      <div class="row">
                          <!-- Logo 1 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/unilever.png" style="width: 55px; height: 60px;" class="d-block mx-auto" alt="Logo 11">
                          </div>
                          <!-- Logo 2 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/postobon.png" style="width: 100px; height: 40px" class="d-block mx-auto" alt="Logo 2">
                          </div>
                          <!-- Logo 3 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/kellogs.png" style="width: 120px; height: 45px; margin-top: 5px;" class="d-block mx-auto" alt="Logo 3">
                          </div>
                          <!-- Logo 4 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/diageo.png" style="width: 100px; height: 23px;margin-top: 14px;" class="d-block mx-auto" alt="Logo 4">
                          </div>
                        </div>
                  </div>
      
                  <!-- Slide 2 -->
                  <div class="carousel-item">
                      <div class="row">
                          <!-- Logo 1 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/derco.png" style="width: 50px; height: 60px;" class="d-block mx-auto" alt="Logo 11">
                          </div>
                          <!-- Logo 2 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/trece.png" style="width: 100px; height: 35px;" class="d-block mx-auto" alt="Logo 2">
                          </div>
                          <!-- Logo 3 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/afidro.png" style="width: 160px; height: 25px; margin-top: 10px;" class="d-block mx-auto" alt="Logo 3">
                          </div>
                          <!-- Logo 4 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/colsubsidio.png" style="width: 145px; height: 30px; margin-top: 7px;" class="d-block mx-auto" alt="Logo 4">
                          </div>
                        </div>
                  </div>
      
                  <!-- Slide 2 -->
                  <div class="carousel-item">
                      <div class="row">
                          <!-- Logo 1 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/cruzverde.png" style="width: 65px; height: 60px;" class="d-block mx-auto" alt="Logo 11">
                          </div>
                          <!-- Logo 2 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/bancocajasocial.png" style="width: 170px; height: 50px;" 
                            class="d-block mx-auto" alt="Logo 2">
                          </div>
                          <!-- Logo 3 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/alianzateam.png" style="width: 120px; height: 45px;" class="d-block mx-auto" alt="Logo 3">
                          </div>
                          <!-- Logo 4 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/alpina.png" class="d-block mx-auto" alt="Logo 4">
                          </div>
                        </div>
                  </div>
      
                  <!-- Slide 2 -->
                  <div class="carousel-item">
                      <div class="row">
                          <!-- Logo 1 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/semana.png" style="height: 25px; width: 100px;" class="d-block mx-auto" alt="Logo 11">
                          </div>
                          <!-- Logo 2 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/alqueria.png" style="height: 44px; width: 120px; margin-bottom: 15px;" class="d-block mx-auto" alt="Logo 2">
                          </div>
                          <!-- Logo 3 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/colpatria.png" style="height: 25px; width: 130px;" class="d-block mx-auto" alt="Logo 3">
                          </div>
                          <!-- Logo 4 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/singenta.png" style="height: 26px; width: 105px;" class="d-block mx-auto" alt="Logo 4">
                          </div>
                        </div>
                  </div>
      
                  <!-- Slide 2 -->
                  <div class="carousel-item">
                      <div class="row">
                          <!-- Logo 1 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/sanofi.png" style="height: 30px; width: 140px;" class="d-block mx-auto" alt="Logo 11">
                          </div>
                          <!-- Logo 2 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/colgate.png" style="height: 60px; width: 85px;" class="d-block mx-auto" alt="Logo 2">
                          </div>
                          <!-- Logo 3 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/groupon.png" style="height: 30px; width: 150px;" class="d-block mx-auto" alt="Logo 3">
                          </div>
                          <!-- Logo 4 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/bristol.png" style="height: 60px; width: 130px;" class="d-block mx-auto" alt="Logo 4">
                          </div>
                        </div>
                  </div>
      
                  <!-- Slide 2 -->
                  <div class="carousel-item">
                      <div class="row">
                          <!-- Logo 1 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/dupont.png" style="height: 30px; width: 100px;" class="d-block mx-auto" alt="Logo 11">
                          </div>
                          <!-- Logo 2 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/novo.png" style="height: 60px; width: 90px;" class="d-block mx-auto" alt="Logo 2">
                          </div>
                          <!-- Logo 3 -->
                          <div class="col-md-3">
                            <img src="assets/imagenes/iconos/danone.png" style="height: 30px; width: 100px;" class="d-block mx-auto" alt="Logo 3">
                          </div>
                         
                        </div>
                  </div>
                  <!-- Agrega más slides según sea necesario -->
                  
                </div>

                         <!-- Controles del carrusel -->
                         <a  class="carousel-control-prev" style="margin-left: -60px;" href="#logoCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Anterior</span>
                        </a>
                        <a  class="carousel-control-next" style="margin-right: -60px;" href="#logoCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Siguiente</span>
                        </a>
          
             
              </div>

              
        </div>

        <div class="col-md-1"></div>

    </div>
     



    <div class="row">

      <div class="container"> <strong><p class="text-center" style="color: black; margin-top: 30px; margin-bottom: -10px; font-family: BebasNeueBold;font-size: 30px; line-height: 1">EXPERIENCIAS DE<br><span class="miparrafo" style="font-size: 40px; margin-left: 120px;">NUESTROS ALIADOS</span></p></strong>
      
        <p id="lineaTexto4" style="width: 15.5%; margin-left: 455px; margin-top: -127px; margin-bottom: -60px; display: block"> </p>
      </div>
 
      
     </div>

   
 
     <div class="row">
 
         <div class="col-md-12">
             <div id="logoCarousel2" class="carousel slide" data-ride="carousel" style="background-color: transparent; margin-left: 50px;">
                 <div class="carousel-inner">
                   <!-- Slide 1 -->
                   <div class="carousel-item active">
                     <div class="row">
                       <!-- Logo 1 -->
                       <div class="col-md-4 col-sm-3">
                        <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                          <div class="">
                              <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                          </div>
                          
                          <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                              <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                          </div>
      
                       
                      </div>
                       </div>
                       <!-- Logo 2 -->
                       <div class="col-md-4 col-sm-3">
                        <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                          <div class="">
                              <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                          </div>
                          
                          <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                              <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar " </span>
                          </div>
      
                       
                      </div>
                       </div>
                       <!-- Logo 3 -->
                       <div class="col-md-4 col-sm-3">
                        <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                          <div class="">
                              <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                          </div>
                          
                          <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                              <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                          </div>
      
                       
                      </div>
                       </div>
                  
                     </div>
                   </div>
                
                   <div class="carousel-item">
                    <div class="row">
                      <!-- Logo 1 -->
                      <div class="col-md-4 col-sm-3">
                        <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                          <div class="">
                              <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                          </div>
                          
                          <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                              <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                          </div>
      
                       
                      </div>
                      </div>

                      <div class="col-md-4 col-sm-3">
                        <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                          <div class="">
                              <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                          </div>
                          
                          <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                              <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                          </div>
      
                       
                      </div>
                      </div>

                      <!-- Logo 2 -->
                      <div class="col-md-4 col-sm-3">
                        <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                          <div class="">
                              <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                          </div>
                          
                          <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                              <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                          </div>
      
                       
                      </div>
                      </div>
                     
                 
                    </div>
                  </div>
                   <!-- Agrega más slides según sea necesario -->
                 </div>
                 
                 <ol class="carousel-indicators">
                  <li data-target="#logoCarousel2" data-slide-to="0" class="active"></li>
                  <li data-target="#logoCarousel2" data-slide-to="1"></li>
                  <!-- Agrega más indicadores según sea necesario -->
                </ol>
               </div>
         </div>
 
     </div>


     <div  style="background-color: white;">
      <!-- Primera fila -->

      <div class="container">

        

      <div class="row" style="background-color: white;" >
          <div class="col-md-5 " style="background-color: transparent; margin-top: 90px;">
            
              <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
              
                    <p class="btn custom-button2" style="font-family: BebasNeueBold; font-size: 25px; line-height: 1;"> <img style="width: 30px; padding-top: 5px; padding-right: 5px;" src="assets/imagenes/iconos/whatsapp.svg" alt="">¿TIENES UN RETO<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  PARA NOSOTROS? </p>
             
                   
                 

              </div>
              
              <div style="margin-left: 130px;">

              <div>
                <p style="color: gray;"><strong>Bogotá</strong> <br> <br> Cra 49B No 104-75 <br> Tel: (+57) 318 355 19 94</p>
              </div>

              <div>
                <p style="color: gray;"><strong>Cali</strong> <br> <br> Calle 3 No 57-31 <br> Tel: (+57) 2 400 21 28</p>
              </div>

            </div>

          </div>
          <div class="col-md-7">
              <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                  <div class="card-body" style="margin-top: 30px; margin-left: 190px;">

                    <input type="text" class="form-control" placeholder="Nombre">
                    <br>
                    <input type="text" class="form-control" placeholder="Email">
                    <br>
                    <textarea name="" id="" cols="30" class="form-control" placeholder="Cúentanos qué reto tienes para nosotros" rows="8"></textarea>
                    <br>
                    <button type="button" class="btn btn-secondary" style="background: linear-gradient(to right, #c01f56, #54337b);">Enviar</button>
                   
                  </div>

                  
              </div>

          </div>
      </div>

  

      

    </div>
      

  </div>

</div>






 
 
 

  