

<div class="contenido">    

        <!-- Primera fila -->
          
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicadores (dots) -->
                <ul class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ul>
            
                <!-- Imágenes del carrusel -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="video-container animate-text delay-2" style=" margin-top: 130px; margin-bottom: 165px;">

                      <img style="width: 100%;" src="assets/videos/ondaRoja.gif" alt="Mi GIF">
                  
              
                  <div class="texto-superpuesto-blog" style=" margin-left: -100px;">
              
                      <div class="text-center" style="font-size: 50px; font-family: BebasNeueBold; margin-left: 70px;" class="animate-text delay-1">SI ESTAS AQUÍ ES PORQUE</div>
              
                      <div class="text-center" style="font-size: 50px; font-family: BebasNeueBold; margin-top: -15px; margin-left: 40px; margin-bottom: -50px; background-color: white; color: black; ">
                        TE GUSTA ESTAR ACTUALIZAD&#64;

                       </div>      
                
                  </div>
              
                  </div>
                  </div>

                  <div class="carousel-item">
                    <div class="video-container animate-text delay-2" style="margin-right: -90px;">

                      <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
                  
              
                  <div class="texto-superpuesto subtitleMain" style=" margin-left: -100px;">
              
                      <span style="font-size: 65px;" class="animate-text delay-1">¡HOLA!</span>
                      <p  class="texto2 animate-text delay-2">Te damos la bienvenida a SL</p>
                      <span class="animate-text delay-3">HACEMOS VISIBLE</span>
                  
                      <p id="titulobanner" class="texto-superpuestoTituloBanner animate-text delay-4" style="margin-top: -50px; margin-left: -10px;"></p>  
                
                  </div>
              
                  </div>
                  </div>

                  <div class="carousel-item">
                        
    <div class="video-container" style="margin-right: -90px;">

      <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
  

  <div class="texto-superpuesto subtitleMain" style=" margin-left: -30px; margin-top: 70px;">

      <span style="font-size: 65px;" class="animate-text delay-1">MODELOS</span>
      <p  class="texto2 animate-text delay-2">Revelamos verdades y transformamos <br> pensamientos para crear estrategias <br> efectivas, eficientes y responsables.</p>
  

  
        <button id="miBoton" class="btn texto-superpuestoTituloBannert animate-text delay-3 clicked"  >Descubre tu arquetipo</button>


  </div>

  </div>
                  </div>


                  <div class="carousel-item">
                    <div class="video-container animate-text delay-2" style="margin-right: -90px;">

                      <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
                  
              
                  <div class="texto-superpuesto subtitleMain" style=" margin-left: -100px;">
              
                      <span style="font-size: 65px;" class="animate-text delay-1">SOLUCIONES</span>
              
                      <ul style="font-size: 20px; font-family: TransducerRegular; margin-left: -25px;" class="animate-text delay-2">
                        <li>Contamos historias poderosas</li>
                        <li>Inspiramos Estrategias</li>
                        <li>Optimizamos Recursos</li>
                        <li>Transformamos Culturas</li>
                      </ul>
                  
                  </div>
              
                  </div>
                  </div>
                 
                 
                </div>
            
           
              </div>
          
    
          
    <div class="row" style="background-color: transparent">

    <div class="container" >
        <!-- Primera fila -->
        <div class="row" >
          
            

            <div class="col-md-12">
                
        
            <div *ngIf="!infoDiscovery" class="card plan cartas" style="padding-top: 20px; padding-bottom: 10px; margin-top: 50px; margin-bottom: 50px;" id="card_plan_1">
              
              <div class="row" >
          
          

              <div class="col-md-6">

              <img style="width: 450px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px;" src="assets/imagenes/Lop.jpg" alt="">
     
            </div>

            <div class="col-md-6">
          
              <p style="padding-left: 20px; padding-right: 50px; padding-top: 2px; font-family: BebasNeueBold; font-size: 36px;">LA HUELGA EN HOLLYWOOD</p>


              <p style="padding-left: 20px; padding-right: 50px; margin-top: -19px;"> Sindicatos de actores y escritores han venido a denunciar la hostilidad de la industria cinematográfica.  Desde inicios de mayo el sindicato de escritores de hashtag#Hollywood ha estado en huelga para poder negociar mejores condiciones de trabajo: la protesta sigue y se suman a ella el sindicato de actores; </p>

              <p  style="margin-left: 20px; color: rgb(217, 83, 20); cursor: pointer;" [routerLink]="['/blog-card']">Ver más</p>

            </div>

          </div>
        </div>

        <div *ngIf="!infoDiscovery" class="card plan cartas" style="padding-top: 20px; padding-bottom: 10px; margin-top: 50px; margin-bottom: 50px;" id="card_plan_1">
              
          <div class="row" >
      
      

          <div class="col-md-6">

          <img style="width: 450px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px;" src="assets/imagenes/Retos.png" alt="">
 
        </div>

        <div class="col-md-6">
      
          <p style="padding-left: 20px; padding-right: 50px; padding-top: 2px; font-family: BebasNeueBold; font-size: 36px;">El Futuro del Trabajo Humano: ¿Empresas 100% Humanas?</p>


          <p style="padding-left: 20px; padding-right: 50px; margin-top: -19px;"> Los líderes de las grandes empresas a nivel mundial tienen como misión a corto y mediano plazo implementar la inteligencia artificial dentro de sus operaciones. 
            Esta carrera contra el tiempo ha generado una serie de reacciones por parte de empleados, empleadores, gobiernos y lideres de opinión. </p>

          <p  style="margin-left: 20px; color: rgb(217, 83, 20); cursor: pointer;" [routerLink]="['/blog-card']">Ver más</p>

        </div>

      </div>
    </div>

    <div *ngIf="!infoDiscovery" class="card plan cartas" style="padding-top: 20px; padding-bottom: 10px; margin-top: 50px; margin-bottom: 50px;" id="card_plan_1">
              
      <div class="row" >
  
  

      <div class="col-md-6">

      <img style="width: 450px; margin-left: 20px; margin-bottom: 20px; margin-top: 10px;" src="assets/imagenes/IA.png" alt="">

    </div>

    <div class="col-md-6">
  
      <p style="padding-left: 20px; padding-right: 50px; padding-top: 2px; font-family: BebasNeueBold; font-size: 36px;"> Liderazgo de la nueva era </p>


      <p style="padding-left: 20px; padding-right: 50px; margin-top: -15px;"> Las exigencias entre empleados y empleadores, y las nuevas dinámicas económicas mundiales, hacen que el panorama para el 2024 sea incierto; instaurando la necesidad de metodologías efectivas para afrontar los desafíos en la gestión de recursos humanos dentro de las organizaciones.
      </p>

      <p  style="margin-left: 20px; color: rgb(217, 83, 20); cursor: pointer;" [routerLink]="['/blog-card']">Ver más</p>

    </div>

  </div>
</div>

            </div>
        </div>


    </div>

  </div>

 
  <div class="banner" #banner style="display: none;">
    <ul class="redes-sociales">
      
      <li style="margin-top: -2px;"><a *ngIf="email" href="#" (mouseover)="cambiarE()"><img style="width: 40px;" src="assets/imagenes/iconos/email.svg" alt="email"></a>
        <a *ngIf="emailColor" href="#" (mouseout)="cambiarEBlanco()"><img style="width: 40px;" src="assets/imagenes/iconos/emailColor.svg" alt="email"></a>
      </li>
      <li><a *ngIf="facebook" href="#" (mouseover)="cambiarF()"><img style="width: 35px;" src="assets/imagenes/iconos/facebook.svg" alt="Facebook"></a>
        <a *ngIf="facebookColor" href="#" (mouseout)="cambiarFBlanco()"><img style="width: 35px;" src="assets/imagenes/iconos/facebookColor.svg" alt="Facebook"></a>
      </li>
      <li><a *ngIf="instagram" href="#" (mouseover)="cambiarI()"><img style="width: 35px;" src="assets/imagenes/iconos/instagram.svg" alt="Instagram"></a>
        <a *ngIf="instagramColor" href="#" (mouseout)="cambiarIBlanco()"><img style="width: 35px;" src="assets/imagenes/iconos/instagramColor.svg" alt="Instagram"></a>
      </li>
      <li><a *ngIf="link" href="#" (mouseover)="cambiarL()"><img style="width: 35px;" src="assets/imagenes/iconos/link.svg" alt="Link"></a>
        <a *ngIf="linkColor" href="#" (mouseout)="cambiarLBlanco()"><img style="width: 35px;" src="assets/imagenes/iconos/linkColor.svg" alt="Link"></a>
      </li>
      <li><a *ngIf="arquetipos" href="#" (mouseover)="cambiarA()"><img style="width: 40px;" src="assets/imagenes/iconos/arquetipos.svg" alt="Link"></a>
        <a *ngIf="arquetiposColor" href="#" (mouseout)="cambiarABlanco()"><img style="width: 40px;" src="assets/imagenes/iconos/arquetiposColor.svg" alt="Link"></a>
      </li>
      <!-- Añade más iconos de redes sociales si lo deseas -->
    </ul>
  </div>

  
  <div  style="background-color: white;">
    <!-- Primera fila -->

    <div class="container">

      

    <div class="row" style="background-color: white;">
        <div class="col-md-5 " style="background-color: transparent; margin-top: 90px;">
          
        
          <div class="card custom-card border-0" style="background-color: white;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
          
                <p class="btn custom-button2" style="font-family: BebasNeueBold; font-size: 25px; line-height: 1;"> <img style="width: 30px; padding-top: 5px; padding-right: 5px;" src="assets/imagenes/iconos/whatsapp.svg" alt="">¿TIENES UN RETO<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  PARA NOSOTROS? </p>
         
               
             

          </div>
          
          <div style="margin-left: 130px;">

          <div>
            <p style="color: gray;"><strong>Bogotá</strong> <br> <br> Cra 49B No 104-75 <br> Tel: (+57) 318 355 19 94</p>
          </div>

          <div>
            <p style="color: gray;"><strong>Cali</strong> <br> <br> Calle 3 No 57-31 <br> Tel: (+57) 2 400 21 28</p>
          </div>

        </div>

      </div>
      <div class="col-md-7">
          <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
              <div class="card-body" style="margin-top: 30px; margin-left: 190px;">

                <input type="text" class="form-control" placeholder="Nombre">
                <br>
                <input type="text" class="form-control" placeholder="Email">
                <br>
                <textarea name="" id="" cols="30" class="form-control" placeholder="Cúentanos qué reto tienes para nosotros" rows="8"></textarea>
                <br>
                <button type="button" class="btn btn-secondary" style="background: linear-gradient(to right, #E38520, #DC1A4D);">Enviar</button>

            
               
              </div>

              
          </div>

      </div>
  </div>



  
</div>
</div>
    

</div>








 
 
 

  