

<div class="contenido">    
    <!-- Inicio  slider  -->
      

    

    <div class="video-container" style="margin-right: -90px;">

        <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
    

    <div class="texto-superpuesto subtitleMain" style=" margin-left: -100px;">

        <span style="font-size: 65px;" class="animate-text delay-1">SOLUCIONES</span>

        <ul style="font-size: 20px; font-family: TransducerRegular; margin-left: -25px;" class="animate-text delay-2">
          <li>Contamos historias poderosas</li>
          <li>Inspiramos Estrategias</li>
          <li>Optimizamos Recursos</li>
          <li>Transformamos Culturas</li>
        </ul>
    
    </div>

    </div>
    <!-- Fin  slider  --> 




    <div class="row">

      <div class="container">

         

        <!-- Primera fila -->
             <div class="row">
              <div class="col-md-12" style="background-color: transparent;">
                  <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                    
          
                          <strong><p class="consultora" style="line-height: 1; font-family: BebasNeueBold;"><span style="margin-left: -150px; font-size: 35px;">DESARROLLAMOS UN MODELO DE</span> <br><span style="font-size: 40px; margin-left: 70px;">CONSULTORÍA ÚNICO Y POTENTE</span> 
                       
                          </p>
                        </strong>

                        <br>

                        <span style="text-transform: none; color: gray;">Somos una consultora boutique de gran <strong>impacto en los negocios, sus marcas y sus equipos.</strong> Hemos desarrollado un modelo de consultoría y acompañamiento único y potente que nos permite abordar los retos y desafíos estratégicos  de nuestros clientes de principio a fin. </span>
  
                     
                  </div>
              </div>

                            
            <p id="lineaTexto" style="position: absolute; width: 30%; margin-left: 405px; margin-top: -5.5%; display: block;"> </p>

              
          </div>
                     
           <!-- Segunda fila -->
           <div class="row" style="margin-top: -70px;">
            <div class="col-md-4">

                <div class="custom-card text-center" [ngClass]="{ 'ocultar': !cartaPantalla }" style="padding: auto; background-color: transparent;" id="card_plan_1">
                
                  

                    <div class="card-body plan-card-body" style=" padding-top: 160px;">
                    
                      <span style="width: 180px; margin-top: 35px; margin-right: 85px;" class="logo" id="pantalla" alt="Logotipo"></span>
                      
                  

                      <div data-toggle="modal" data-target=".bd-modal-discovery" style="cursor: pointer; background: linear-gradient(to right, #588990, #17488F); border: 1px; border-radius: 15px; margin-top: 20px;">

                        <p style="font-size: 30px; line-height: 1; font-family: BebasNeueBold; color: white; padding-top: 10px; padding-bottom: 10px;">DISCOVERY & <br> BUSINESS</p>
                      
                      </div>

                     
                      
                    </div>

                    
                 
                </div>

                <div (click)="mostrarPantalla()"  class="card plan custom-card cartas" [ngClass]="{ 'ocultar': cartaPantalla }" style="padding: auto; border: 3px solid blue; cursor: pointer;" id="card_plan_1">
                
                  
                    <div  class="card-body plan-card-body" style=" padding-top: 67px; padding-bottom: 74px;">
                    
                        
                      <ul style="margin-left: -20px;">
                        <li>Talleres</li> <br>
                        <li>Charlas / Conferencias</li> <br>
                        <li>Safaris</li>
                      </ul>
                      
                    </div>

                    
                 
                </div>

            </div>

            <div class="col-md-4">

              <div class="custom-card  text-center" [ngClass]="{ 'ocultar': !cartaTuerca }" style="padding: auto;" id="card_plan_1">
              
                
                <span style="width: 120px; margin-top: -5px; margin-right: 60px;" class="logo" id="robot" alt="Logotipo"></span>

                  <div class="card-body plan-card-body" style=" padding-top: 160px;">

                    
                      
                  <span style="width: 180px; margin-top: 35px; margin-right: 85px;" class="logo" id="tuerca" alt="Logotipo"></span>
                      
                  
                    <div data-toggle="modal" data-target=".bd-modal-strategy" style="cursor: pointer; background: linear-gradient(to right, #588990, #17488F); border: 1px; border-radius: 15px; margin-top: 20px;">
                    
                    
                    <p style="font-size: 30px; line-height: 1; font-family: BebasNeueBold; color: white; padding-top: 10px; padding-bottom: 10px;">PEOPLE & <br> TRANSFORMATION</p>
                    
                  </div>
                   
                    
                  </div>

                  
               
              </div>

              <div (click)="mostrarTuerca()"  class="card plan custom-card cartas" [ngClass]="{ 'ocultar': cartaTuerca }" style="padding: auto; border: 3px solid blue; cursor: pointer;" id="card_plan_1">
              
                
                  <div  class="card-body plan-card-body" style=" padding-top: 67px; padding-bottom: 54px;">
                  
                      
                    <ul style="margin-left: -20px;">
                      <li>Research & Data Analitycs</li> <br>
                      <li>Intervención</li> <br>
                      <li>Monitoreo</li>
                    </ul>
                    
                  </div>

                  
               
              </div>

          </div>

          <div class="col-md-4">

            <div class="custom-card text-center" [ngClass]="{ 'ocultar': !cartaCabeza }" style="padding: auto;" id="card_plan_1">
            
              
                <div class="card-body plan-card-body" style=" padding-top: 160px;">

                  <span style="width: 180px; margin-top: 35px; margin-right: 85px;" class="logo" id="cerebro3" alt="Logotipo"></span>
                      
                  
                  <div data-toggle="modal" data-target=".bd-modal-alig" style="cursor: pointer; background: linear-gradient(to right, #588990, #17488F); border: 1px; border-radius: 15px; margin-top: 20px;">
    

                  <p style="font-size: 30px; line-height: 1; font-family: BebasNeueBold; padding-top: 10px; padding-bottom: 10px; color: white;">INSPIRATION & <br> PROVOCATION</p>
                  
                </div>
                  
                </div>

                
             
            </div>

            <div (click)="mostrarCabeza()" class="card plan custom-card cartas" [ngClass]="{ 'ocultar': cartaCabeza }" style=" border: 3px solid blue; cursor: pointer;" id="card_plan_1">
            
              
                <div  class="card-body plan-card-body">
                
                    
                  <ul style="margin-left: -20px;">
                    <li>Research & Data Analitycs</li> <br>
                    <li>Activación Estratégica (Branding, Comunicación e Innovación)</li> <br>
                    <li>Monitoreo (Tendencias, categorías, códigos, productos)</li>
                  </ul>
                  
                </div>

                
             
            </div>

        </div>  

        </div>




        <br>

      </div>

    </div>
    

    <div class="banner" #banner style="display: none;">
      <ul class="redes-sociales">
        
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/email.svg" alt="email"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/facebook.svg" alt="Facebook"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/instagram.svg" alt="Instagram"></a></li>
        <li><a href="#"><img style="width: 35px;" src="assets/imagenes/iconos/link.svg" alt="Link"></a></li>
        <!-- Añade más iconos de redes sociales si lo deseas -->
      </ul>
    </div>


    <div class="row" style="background-color: white;">

      <div class="container" >
          <!-- Primera fila -->
          <div class="row" >
              <div class="col-md-6 subtitleMain" style="background-color: transparent;">
                  <div class="border-0" style="background-color: transparent; margin-left: 170px; margin-top: 50px;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
               
                          <strong><p  style="line-height: 1; ">
                          
                              <span class="consultoraH" style="font-size: 35px;">CONOCE NUESTROS<br> CASOS DE EXITO</span>
                          </p>
                       
                          </strong>
                  </div>
  
                  <p id="lineaTexto4" style="z-index: 7; position: absolute;width: 32%; margin-left: 27.5%; margin-top: -18.7%; display: block;"> </p>
  
                 
              </div>
      
              
  
              <div class="col-md-4">
              
              <div id="miCarrusel3" class="carousel slide" style="background-color: transparent;" data-ride="carousel">
                <!-- Indicadores del carrusel -->
                <ul class="carousel-indicators">
                  <li data-target="#miCarrusel3" data-slide-to="0" class="active"></li>
                  <li data-target="#miCarrusel3" data-slide-to="1"></li>
                  <li data-target="#miCarrusel3" data-slide-to="2"></li>
                </ul>
              
                <!-- Imágenes del carrusel -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                      <div class="">
                          <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                      </div>
                      
                      <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                          <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                      </div>
      
                   
                  </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                      <div class="">
                          <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                      </div>
                      
                      <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                          <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                      </div>
      
                   
                  </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card plan custom-card cartasComentarios" id="card_plan_1">
                      <div class="">
                          <strong><h6 class="miparrafo" style="padding-left: 10px; padding-top: 10px;">Pepito Perez</h6></strong>
                      </div>
                      
                      <div class="card-body plan-card-body" style="padding-left: 10px; padding-top: 10px; padding-bottom: 20px; color: gray;">
                          <span>" Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar "</span>
                      </div>
      
                   
                  </div>
                  </div>
                </div>
              
                <!-- Controles del carrusel -->
                <a class="carousel-control-prev" href="#miCarrusel3" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#miCarrusel3" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
              </div>
          </div>
  
         
      </div>
  
    </div>
    


  <div class="row">

    <div class="container" >
        <!-- Primera fila -->
        <div class="row" >
            <div class="col-md-4 subtitleMain" style="background-color: transparent;">
                <div class="border-0" style="background-color: transparent; margin-left: 170px; margin-top: 50px;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
             
                        <strong><p class="consultora" style="line-height: 1; "><span class="consultoraH">TRABAJAMOS</span>
                        <br>
                            <span class="consultoraH" style="font-size: 30px; padding-left: -25px;">DE LA MANO CON</span>
                        </p>
                     
                        </strong>

                        <p id="lineaTexto3" style="width: 100%; margin-left: -19px; margin-top: -138px;"> </p>


                 

                    <button (click)="scrollToSection()" class="btn custom-button superpuestoejemplo" style="width: 150px; height: 35px; margin-left: 47.5%; margin-top: 46%; font-family: TransducerRegular; padding-top: 5px;" >Contáctanos</button>
                </div>
               
            </div>
            
            <div class="col-md-4">

              <div *ngIf="botonEmpresasRojo" class="card plan  cartas " style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px; margin-top: 50px;" id="card_plan_1">
                <div class="">
                    <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;" class="miparrafo">Grandes Empresas</span>
                </div>

                <img class="logo" (click)="ocultarInfoEmpresas()" style="cursor: pointer;width: 25px; padding-top: 7px; padding-right: 5px;" src="assets/imagenes/iconos/flechaazul.svg" alt="Logotipo">
            </div>


            <div *ngIf="espacioRojo" style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px; margin-top: 53px;">
              <div class="" style="background-color: transparent;">
                <span style="padding-left: 10px; padding-top: 10px;"></span>
            </div>
            </div>

            <div *ngIf="botonEmprendimientosRojo" [style.margin-top]="marginTopDiv" class="card plan  cartas " style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px;" id="card_plan_1">
              <div class="">
                  <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;" class="miparrafo">Emprendimientos</span>
              </div>
              
              <img class="logo" (click)="ocultarInfoEmprendimientos()" style="cursor: pointer;width: 25px; padding-top: 7px; padding-right: 5px;" src="assets/imagenes/iconos/flechaazul.svg" alt="Logotipo">
          </div>


            </div>

            <div class="col-md-4">
                
              <div *ngIf="botonEmpresasBlanco" class="card plan cartas custom-button" style="padding-top: 20px; padding-bottom: 20px; margin-top: 50px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
                <div class="">
                    <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;">Grandes Empresas</span>
                </div>
                
                

                <img class="logo" style="width: 30px; padding-top: 13px; padding-right: 5px; cursor: pointer;" (click)="mostrarInfoEmpresas()" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
             
            </div>

            <div *ngIf="infoEmpresas" class="card plan cartas " style="padding-top: 10px; padding-bottom: 20px; margin-top: 50px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
              
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/bolazul.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Transformamos</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Visiones. </span></p>
      
       
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/bolazul.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Consolidamos el hoy</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Para sostener y crear bases<br> solidas.</span></p>
           
       
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/bolazul.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Creamos futuro</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Nuevas posturas. <br>Nuevos caminos.</span></p>
           
              
           
          </div>

            <div *ngIf="botonEmprendimientosBlanco" class="card plan cartas custom-button" style="cursor: pointer;padding-top: 20px; padding-bottom: 20px; margin-top: -20px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
              <div class="">
                  <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;">Emprendimientos</span>
              </div>

              <img class="logo" (click)="mostrarInfoEmprendimientos()" style="width: 30px; padding-top: 13px; padding-right: 5px; cursor: pointer;" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
           
              

          </div>

          

        <div *ngIf="infoEmprendimientos" class="card plan cartas " style="padding-top: 10px; padding-bottom: 20px; margin-top: -20px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
      
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/bolazul.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Acompañamos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Al emprendedor a enteder <br> la escencia de su proyecto y <br> su alineación personal con él. </span></p>

 
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/bolazul.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Detonamos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Nuevas decisiones dentro del<br> emprendimiento existente,<br> realizando exploraciones y <br>reflexiones para optimizar <br>sus resultados </span></p>
     
 
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/bolazul.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Expandimos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">El impacto de un empresario <br>u organización consolidados <br>dentro de la sociedad y su <br>mercado, o nuevos mercados <br> a explorar.</span></p>
     
      </div>

            </div>
        </div>

        
        <span id="contacts"></span>

        <div class="row">

            <div class="col-md-4" style="margin-left: -160px;">
               
                </div>


                <div class="col-md-8">
                    
                </div>


        </div>


        <br>

    </div>

  </div>
    


  
  <div  style="background-color: white;" >
    <!-- Primera fila -->

    <div class="container">

      

    <div class="row" style="background-color: white;" >
        <div class="col-md-5 " style="background-color: transparent; margin-top: 90px;">
          
        
          <div class="card custom-card border-0" style="background-color: white;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
          
                <p class="btn custom-button2" style="font-family: BebasNeueBold; font-size: 25px; line-height: 1;"> <img style="width: 30px; padding-top: 5px; padding-right: 5px;" src="assets/imagenes/iconos/whatsapp.svg" alt="">¿TIENES UN RETO<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  PARA NOSOTROS? </p>
         
               
             

          </div>
          
          <div style="margin-left: 130px;">

          <div>
            <p style="color: gray;"><strong>Bogotá</strong> <br> <br> Cra 49B No 104-75 <br> Tel: (+57) 318 355 19 94</p>
          </div>

          <div>
            <p style="color: gray;"><strong>Cali</strong> <br> <br> Calle 3 No 57-31 <br> Tel: (+57) 2 400 21 28</p>
          </div>

        </div>

      </div>
      <div class="col-md-7">
          <div class="card custom-card border-0" style="background-color: transparent;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
              <div class="card-body" style="margin-top: 30px; margin-left: 190px;">

                <input type="text" class="form-control" placeholder="Nombre">
                <br>
                <input type="text" class="form-control" placeholder="Email">
                <br>
                <textarea name="" id="" cols="30" class="form-control" placeholder="Cúentanos qué reto tienes para nosotros" rows="8"></textarea>
                <br>
                <button type="button" class="btn btn-secondary" style="background: linear-gradient(to right, #588990, #17488F);">Enviar</button>

            
               
              </div>

              
          </div>

      </div>
  </div>



  
</div>
</div>

</div>

<div class="modal fade bd-modal-alig" style="margin-top: 180px;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
   
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <img style="width: 200px; margin-top: -25px; margin-left: 20px;" src="assets/imagenes/soluciones/Recurso7Soluciones.svg" alt="">
           
          </div>
        
        </div>


        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
         
            <p style="line-height: 1; text-align: justify; font-size: 12px;">Generamos conocimiento revelando insights y articulando datos con valor estrategico</p>
          
            <p style="line-height: 1; text-align: justify; font-size: 12px;">Generamos conocimiento revelando insights y articulando datos con valor estrategico</p>
          

          </div>

          
      
        </div>

        <div class="row" style="margin-bottom: -40px;">
          <div class="col-md-12">
         
            <p data-dismiss="modal" data-toggle="modal" data-target=".bd-modal-alig-info" style="line-height: 1; text-align: right; font-size: 12px; color: blue; cursor: pointer;">Ver más</p>
        

          </div>

          
      
        </div>

        <!-- Más texto similar -->
        <!-- Agrega aquí más párrafos con texto largo si deseas -->
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade bd-modal-alig-info" style="margin-top: 100px;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
      <div class="modal-body" style="font-size: 12px; text-align: justify;">

        <div class="row">
          <div class="col-md-6">
            <img style="width: 300px; margin-top: -5px; margin-left: 40px; margin-bottom: 20px;" src="assets/imagenes/soluciones/Recurso7Soluciones.svg" alt="">
           
          </div>
          <div class="col-md-2">
            
          </div>
          <div class="col-md-4" style="padding-top: 40px;">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
        </div>


        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso16.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <!-- Más texto similar -->
        <!-- Agrega aquí más párrafos con texto largo si deseas -->
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade bd-modal-strategy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <img style="width: 350px; margin-top: -5px; margin-left: 20px;" src="assets/imagenes/soluciones/Recurso5Soluciones.svg" alt="">
           
          </div>
          <div class="col-md-2">
            
          </div>
          <div class="col-md-4">
            ejemplojjjjjjjjjjjjjjjjjjjnnn kjkjkjkjkjk kjkjkkkkkkkkkkkkk  Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel p
        </div>
        </div>


        <div class="row">
          <div class="col-md-4">
         
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel pellentesque. Integer nec aliquet justo. Morbi vel tortor ac metus scelerisque lacinia. Phasellus nec interdum leo, ac lacinia urna. Donec et purus id lacus dapibus aliquet eu ac justo. Duis quis velit eu nisi fermentum
          </div>
          <div class="col-md-4">
              
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel pellentesque. Integer nec aliquet justo. Morbi vel tortor ac metus scelerisque lacinia. Phasellus nec interdum leo, ac lacinia urna. Donec et purus id lacus dapibus aliquet eu ac justo. Duis quis velit eu nisi fermentum
          </div>
          <div class="col-md-4">
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel pellentesque. Integer nec aliquet justo. Morbi vel tortor ac metus scelerisque lacinia. Phasellus nec interdum leo, ac lacinia urna. Donec et purus id lacus dapibus aliquet eu ac justo. Duis quis velit eu nisi fermentum
        </div>
        </div>

        <!-- Más texto similar -->
        <!-- Agrega aquí más párrafos con texto largo si deseas -->
      </div>
     
    </div>
  </div>
</div>


<div class="modal fade bd-modal-discovery" style="margin-top: 180px;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
   
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <img style="width: 200px; margin-top: -25px; margin-left: 20px;" src="assets/imagenes/soluciones/Recurso4Soluciones.svg" alt="">
           
          </div>
        
        </div>


        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
         
            <p style="line-height: 1; text-align: justify; font-size: 12px;">Generamos conocimiento revelando insights y articulando datos con valor estrategico</p>
          
            <p style="line-height: 1; text-align: justify; font-size: 12px;">Generamos conocimiento revelando insights y articulando datos con valor estrategico</p>
          

          </div>

          
      
        </div>

        <div class="row" style="margin-bottom: -40px;">
          <div class="col-md-12">
         
            <p data-dismiss="modal" data-toggle="modal" data-target=".bd-modal-discovery-info" style="line-height: 1; text-align: right; font-size: 12px; color: blue; cursor: pointer;">Ver más</p>
        

          </div>

          
      
        </div>

        <!-- Más texto similar -->
        <!-- Agrega aquí más párrafos con texto largo si deseas -->
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade bd-modal-discovery-info" style="margin-top: 100px;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
      <div class="modal-body" style="font-size: 12px; text-align: justify;">

        <div class="row">
          <div class="col-md-6">
            <img style="width: 300px; margin-top: -25px; margin-left: 40px; margin-bottom: 20px;" src="assets/imagenes/soluciones/Recurso4Soluciones.svg" alt="">
           
          </div>
          <div class="col-md-2">
            
          </div>
          <div class="col-md-4" style="padding-top: 40px;">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
        </div>


        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         
               </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
           </div>
          <div class="col-md-4">
            <ul>
              <li><img src="assets/imagenes/RecursosSoluciones/Recurso12.svg" style=" height: 10px; margin-top: -5px;" alt="Icono">  Human True <br> <p style="margin-left: 16px;"> Etnografía en <br> ambientes naturales.</p></li>
            </ul>
         </div>
        </div>

        <!-- Más texto similar -->
        <!-- Agrega aquí más párrafos con texto largo si deseas -->
      </div>
     
    </div>
  </div>
</div>

<div class="modal fade bd-modal-know" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">
            <img style="width: 350px; margin-top: 10px; margin-left: 20px;" src="assets/imagenes/soluciones/Recurso6Soluciones.svg" alt="">
           
          </div>
          <div class="col-md-2">
            
          </div>
          <div class="col-md-4">
            <p>hola  Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel p
            </p>       </div>
        </div>


        <div class="row">
          <div class="col-md-4">
         
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel pellentesque. Integer nec aliquet justo. Morbi vel tortor ac metus scelerisque lacinia. Phasellus nec interdum leo, ac lacinia urna. Donec et purus id lacus dapibus aliquet eu ac justo. Duis quis velit eu nisi fermentum
          </div>
          <div class="col-md-4">
              
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel pellentesque. Integer nec aliquet justo. Morbi vel tortor ac metus scelerisque lacinia. Phasellus nec interdum leo, ac lacinia urna. Donec et purus id lacus dapibus aliquet eu ac justo. Duis quis velit eu nisi fermentum
          </div>
          <div class="col-md-4">
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur elit eget luctus facilisis. Proin varius nec justo vel pellentesque. Integer nec aliquet justo. Morbi vel tortor ac metus scelerisque lacinia. Phasellus nec interdum leo, ac lacinia urna. Donec et purus id lacus dapibus aliquet eu ac justo. Duis quis velit eu nisi fermentum
        </div>
        </div>

        <!-- Más texto similar -->
        <!-- Agrega aquí más párrafos con texto largo si deseas -->
      </div>
     
    </div>
  </div>
</div>







 
 
 

  