

<div class="contenido">    
    <!-- Inicio  slider  -->
      

    

    <div class="video-container" style="margin-right: -90px;">

        <img style="width: 90%;" src="assets/videos/animados.gif" alt="Mi GIF">
    

    <div class="texto-superpuesto subtitleMain" style=" margin-left: -100px;">

        <span style="font-size: 65px;" class="animate-text delay-1">SOLUCIONES</span>

        <ul style="font-size: 20px; font-family: TransducerRegular; margin-left: -25px;" class="animate-text delay-2">
          <li>Contamos historias poderosas</li>
          <li>Inspiramos Estrategias</li>
          <li>Optimizamos Recursos</li>
          <li>Transformamos Culturas</li>
        </ul>
    
    </div>

    </div>
    <!-- Fin  slider  --> 


    <div class="row">

      <div class="container">

         

        <!-- Primera fila -->
             <div class="row">
              <div class="col-md-12" style="background-color: transparent;">
                  <div class="card custom-card border-0" style="background-color: transparent; text-align: center;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
                    
          
                          <strong><p class="consultora" style="line-height: 1; font-family: BebasNeueBold;"><span style="margin-left: -150px; font-size: 35px;">DESARROLAMOS UN MODELO DE</span> <br><span style="font-size: 40px; margin-left: 70px;">CONSULTORÍA ÚNICO Y POTENTE</span> 
                       
                          </p>
                        </strong>

                        <br>

                        <span style="text-transform: none; color: gray;">Según el reto, logrando soluciones únicas que agilizan resultados <br> definiendo caminos para la toma de deciciones oportunas.</span>
  
                     
                  </div>
              </div>
              
          </div>
                     
           <!-- Segunda fila -->
           <div class="row" style="margin-top: -60px;">
            <div class="col-md-4" style="cursor: pointer;" (click)="mostrarPantalla()">

                <div class="card plan custom-card cartas text-center" [ngClass]="{ 'ocultar': !cartaPantalla }" style="padding: auto;" id="card_plan_1">
                
                  
                  <span style="width: 120px; margin-top: -5px; margin-right: 60px;" class="logo" id="robot" alt="Logotipo"></span>

                    <div class="card-body plan-card-body" style=" padding-top: 47px;">
                    
                      <img width="100px" src="assets/imagenes/soluciones/Recurso2Soluciones.svg" alt="">
                        
                      <p style="font-size: 30px; line-height: 1; font-family: BebasNeueBold; padding-top: 20px; color: blue;">DISCOVERY & <br> BUSINESS</p>
                      
                     
                      
                    </div>

                    
                 
                </div>

                <div  class="card plan custom-card cartas" [ngClass]="{ 'ocultar': cartaPantalla }" style="padding: auto; border: 3px solid blue;" id="card_plan_1">
                
                  
                    <div  class="card-body plan-card-body" style=" padding-top: 67px; padding-bottom: 74px;">
                    
                        
                      <ul style="margin-left: -20px;">
                        <li>Talleres</li> <br>
                        <li>Charlas / Conferencias</li> <br>
                        <li>Safaris</li>
                      </ul>
                      
                    </div>

                    
                 
                </div>

            </div>

            <div class="col-md-4" style="cursor: pointer;" (click)="mostrarTuerca()">

              <div class="card plan custom-card cartas text-center" [ngClass]="{ 'ocultar': !cartaTuerca }" style="padding: auto;" id="card_plan_1">
              
                
                <span style="width: 120px; margin-top: -5px; margin-right: 60px;" class="logo" id="robot" alt="Logotipo"></span>

                  <div class="card-body plan-card-body" style=" padding-top: 47px;">
                  
                    <img width="100px" style="padding-top: -20px;" src="assets/imagenes/soluciones/Recurso3Soluciones.svg" alt="">
                      
                    <p style="font-size: 30px; line-height: 1; font-family: BebasNeueBold; padding-top: 20px; color: blue;">PEOPLE & <br> TRANSFORMATION</p>
                    
                   
                    
                  </div>

                  
               
              </div>

              <div  class="card plan custom-card cartas" [ngClass]="{ 'ocultar': cartaTuerca }" style="padding: auto; border: 3px solid blue;" id="card_plan_1">
              
                
                  <div  class="card-body plan-card-body" style=" padding-top: 67px; padding-bottom: 54px;">
                  
                      
                    <ul style="margin-left: -20px;">
                      <li>Research & Data Analitycs</li> <br>
                      <li>Intervención</li> <br>
                      <li>Monitoreo</li>
                    </ul>
                    
                  </div>

                  
               
              </div>

          </div>

          <div class="col-md-4" style="cursor: pointer;" (click)="mostrarCabeza()">

            <div class="card plan custom-card cartas text-center" [ngClass]="{ 'ocultar': !cartaCabeza }" style="padding: auto;" id="card_plan_1">
            
              
                <div class="card-body plan-card-body" style=" padding-top: 35px;">
                
                  <img width="100px" src="assets/imagenes/soluciones/Recurso1Soluciones.svg" alt="">
                    
                  <p style="font-size: 30px; line-height: 1; font-family: BebasNeueBold; padding-top: 20px; color: blue;">INSPIRATION & <br> PROVOCATION</p>
                  
                 
                  
                </div>

                
             
            </div>

            <div  class="card plan custom-card cartas" [ngClass]="{ 'ocultar': cartaCabeza }" style=" border: 3px solid blue;" id="card_plan_1">
            
              
                <div  class="card-body plan-card-body">
                
                    
                  <ul style="margin-left: -20px;">
                    <li>Research & Data Analitycs</li> <br>
                    <li>Activación Estratégica (Branding, Comunicación e Innovación)</li> <br>
                    <li>Monitoreo (Tendencias, categorías, códigos, productos)</li>
                  </ul>
                  
                </div>

                
             
            </div>

        </div>  

        </div>




        <br>

      </div>

    </div>
    

   


    

    <div class="row" style="background-color: white;">

    <div class="container" >
        <!-- Primera fila -->
        <div class="row" >
            <div class="col-md-6 subtitleMain" style="background-color: transparent;">
                <div class="border-0" style="background-color: transparent; margin-left: 170px; margin-top: 150px;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
             
                        <strong><p class="consultora" style="line-height: 1; "><span class="consultoraH">NUESTRAS ÁREAS</span>
                        <br>
                            <span class="consultoraH" style="font-size: 45px; padding-left: 40px; color: blue;">DE IMPACTO</span>
                        </p>
                     
                        </strong>

                      </div>
               
            </div>
            

            <div class="col-md-6">
                
              <div class="card plan cartas" style="padding-top: 10px; padding-bottom: 10px; margin-top: 50px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
                
                  <img style="width: 150px; margin-left: 35px;" src="assets/imagenes/soluciones/Recurso5Soluciones.svg" alt="">
               
                
                

                <img class="logo" style="width: 30px; margin-top: 20px; padding-right: 5px; cursor: pointer; position: absolute; background-color: blue;" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
             
            </div>


            <div class="card plan cartas" style=" cursor: pointer;padding-top: 10px; padding-bottom: 10px; margin-top: -30px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
              <img style="width: 150px; margin-left: 35px;" src="assets/imagenes/soluciones/Recurso5Soluciones.svg" alt="">
               
                
                

              <img class="logo" style="width: 30px; margin-top: 20px; padding-right: 5px; cursor: pointer; position: absolute; background-color: blue;" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
           
          </div>

          <div class="card plan cartas" style=" cursor: pointer;padding-top: 20px; padding-bottom: 20px; margin-top: -30px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
            <img style="width: 150px; margin-left: 35px;" src="assets/imagenes/soluciones/Recurso6Soluciones.svg" alt="">
               
                
                

            <img class="logo" style="width: 30px; margin-top: 20px; padding-right: 5px; cursor: pointer; position: absolute; background-color: blue;" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
         
        </div>

        <div class="card plan cartas" style=" cursor: pointer;padding-top: 20px; padding-bottom: 20px; margin-top: -30px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
          <img style="width: 150px; margin-left: 35px;" src="assets/imagenes/soluciones/Recurso7Soluciones.svg" alt="">
               
                
                

          <img class="logo" style="width: 30px; margin-top: 20px; padding-right: 5px; cursor: pointer; position: absolute; background-color: blue;" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
       
      </div>



            </div>
        </div>

        <div class="row">

            <div class="col-md-4" style="margin-left: -160px;">
               
                </div>


                <div class="col-md-8">
                    
                </div>


        </div>

        <br>

    </div>

  </div>

  <div class="row">

    <div class="container" >
        <!-- Primera fila -->
        <div class="row" >
            <div class="col-md-4 subtitleMain" style="background-color: transparent;">
                <div class="border-0" style="background-color: transparent; margin-left: 170px; margin-top: 50px;"> <!-- Utilizamos la clase 'border-0' para eliminar el borde y el fondo de la tarjeta -->
             
                        <strong><p class="consultora" style="line-height: 1; "><span class="consultoraH">TRABAJAMOS</span>
                        <br>
                            <span class="consultoraH" style="font-size: 30px; padding-left: 30px;">DE LA MANO CON</span>
                        </p>
                     
                        </strong>

                        <p id="lineaTexto3" style="width: 100%; margin-left: -23px; margin-top: -138px;"> </p>


                 

                    <button class="btn custom-button superpuestoejemplo" style="width: 150px; height: 35px; margin-left: 49%; margin-top: 45%; font-family: TransducerRegular; padding-top: 5px;" >Contáctanos</button>
                </div>
               
            </div>
            
            <div class="col-md-4">

              <div *ngIf="botonEmpresasRojo" class="card plan  cartas " style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px; margin-top: 50px;" id="card_plan_1">
                <div class="">
                    <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;" class="miparrafo">Grandes Empresas</span>
                </div>

                <img class="logo" (click)="ocultarInfoEmpresas()" style="cursor: pointer;width: 25px; padding-top: 7px; padding-right: 5px;" src="assets/imagenes/iconos/flechaRoja.svg" alt="Logotipo">
            </div>


            <div *ngIf="espacioRojo" style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px; margin-top: 53px;">
              <div class="" style="background-color: transparent;">
                <span style="padding-left: 10px; padding-top: 10px;"></span>
            </div>
            </div>

            <div *ngIf="botonEmprendimientosRojo" [style.margin-top]="marginTopDiv" class="card plan  cartas " style="padding-top: 20px; padding-bottom: 20px; margin-left: 100px;" id="card_plan_1">
              <div class="">
                  <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;" class="miparrafo">Emprendimientos</span>
              </div>
              
              <img class="logo" (click)="ocultarInfoEmprendimientos()" style="cursor: pointer;width: 25px; padding-top: 7px; padding-right: 5px;" src="assets/imagenes/iconos/flechaRoja.svg" alt="Logotipo">
          </div>


            </div>

            <div class="col-md-4">
                
              <div *ngIf="botonEmpresasBlanco" class="card plan cartas custom-button" style="padding-top: 20px; padding-bottom: 20px; margin-top: 50px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
                <div class="">
                    <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;">Grandes Empresas</span>
                </div>
                
                

                <img class="logo" style="width: 30px; padding-top: 13px; padding-right: 5px; cursor: pointer;" (click)="mostrarInfoEmpresas()" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
             
            </div>

            <div *ngIf="infoEmpresas" class="card plan cartas " style="padding-top: 10px; padding-bottom: 20px; margin-top: 50px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
              
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Transformamos</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Visiones. </span></p>
      
       
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Consolidamos el hoy</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Para sostener y crear bases<br> solidas.</span></p>
           
       
              <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
              <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Creamos futuro</p>
              <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Nuevas posturas. <br>Nuevos caminos.</span></p>
           
              
           
          </div>

            <div *ngIf="botonEmprendimientosBlanco" class="card plan cartas custom-button" style="cursor: pointer;padding-top: 20px; padding-bottom: 20px; margin-top: -20px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
              <div class="">
                  <span style="padding-left: 10px; padding-top: 10px; font-family: TransducerRegular; font-size: 15px;">Emprendimientos</span>
              </div>

              <img class="logo" (click)="mostrarInfoEmprendimientos()" style="width: 30px; padding-top: 13px; padding-right: 5px; cursor: pointer;" src="assets/imagenes/iconos/flechaBlanca.svg" alt="Logotipo">
           
              

          </div>

          

        <div *ngIf="infoEmprendimientos" class="card plan cartas " style="padding-top: 10px; padding-bottom: 20px; margin-top: -20px; margin-bottom: 50px; margin-right: 100px;" id="card_plan_1">
      
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Acompañamos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Al emprendedor a enteder <br> la escencia de su proyecto y <br> su alineación personal con él. </span></p>

 
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Detonamos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">Nuevas decisiones dentro del<br> emprendimiento existente,<br> realizando exploraciones y <br>reflexiones para optimizar <br>sus resultados </span></p>
     
 
        <img  style="width: 23px; padding-left: 5px; padding-top: 15px;" src="assets/imagenes/iconos/circuloRojo.svg" alt="Logotipo">
        <p style="padding-left: 40px; margin-top: -17px; line-height: 1; font-size: 14px; padding-bottom: 10px;">Expandimos</p>
        <p style="padding-left: 40px; margin-top: -22px; line-height: 1;"><span style="font-size: 11px;">El impacto de un empresario <br>u organización consolidados <br>dentro de la sociedad y su <br>mercado, o nuevos mercados <br> a explorar.</span></p>
     
      </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-4" style="margin-left: -160px;">
               
                </div>


                <div class="col-md-8">
                    
                </div>


        </div>

        <br>

    </div>

  </div>
    

</div>






 
 
 

  