<!-- Inicio  footer  -->
<footer class="footer_header" style="background-color: black;">
  
  <div class="row" style="background-color: black;">

    <div class="col-md-2"></div>

    <div class="col-md-8">

                <div class="row">
                  <!-- Logo 1 -->
                  <div class="col-md-6">
                    <img src="assets/imagenes/encabezados/ikeCompensar.svg" style="width: 250px;"  alt="Logo 11">
                    <br>
                    <br>
                    <img src="assets/imagenes/iconos/whatsapp.svg" style="width: 40px; margin-left: 20px;" alt="">
                    <img src="assets/imagenes/iconos/instagram.svg" style="width: 40px; margin-left: 20px;" alt="">
                    <img src="assets/imagenes/iconos/facebook.svg" style="width: 40px; height: 40px; margin-left: 20px;" alt="">
                    <img src="assets/imagenes/iconos/link.svg" style="width: 40px; margin-left: 20px;" alt="">

                    <br>
                    <br>
                    <p style="color: gray;">2023 contacto slig.com 
                    <br>Copyright - SL Research Colombia S.A.S. <br>
Todos los derechos reservados. </p>
                  </div>
                  <!-- Logo 2 -->
                  <div class="col-md-6" style="color: white;">

                    <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-4">
                        
                      </div>
                    <div class="col-md-4">
                      Nosotros
                    </div>

                    
                    <div class="col-md-4">
                      Academia
                    </div>
                  </div>

                  <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-4">
                      
                    </div>
                  <div class="col-md-4">
                    Modelo
                  </div>

                  <div class="col-md-4">
                    Contáctanos
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    
                  </div>
                <div class="col-md-4">
                  Nosotros
                </div>

                <div class="col-md-4">
                  Academia
                </div>
              </div>

              <div class="row" style="margin-bottom: 20px; margin-top: 40px;">
                <div class="col-md-4">
                  
                </div>
              <div class="col-md-3">
                <img src="assets/imagenes/iconos/logofooter.svg" style="width: 100%;" alt="">
              </div>

              <div class="col-md-5">
                <p style="font-size: 10px; margin-top: -5px;">SL Research Colombia S.A.S hace parte <br> de la Asociación de empresas de <br> investigación de mercados de opinión pública</p>
              </div>

            </div>
                    
                  </div>
               
                </div>
    
      
    </div>

    <div class="col-md-2"></div>

   

</div>

  

</footer>
<!-- Fin  footer  -->