

<!-- Inicio  footer  -->
<footer class="footer_header" style="background-color: black;">
  
  <div class="row" style="background-color: black;">

    <div class="col-md-1"></div>

    <div class="col-md-10">

                <div class="row">
                  <!-- Logo 1 -->
                  
                  
                  <span id="ondaGris" style="position: absolute; margin-top: -110px; margin-left: -150px; width: 750px;"> </span>
                  <div class="col-md-6">

                      <img src="assets/imagenes/encabezados/ikeCompensar.svg" class="texto-superpuesto" style="margin-bottom: 160px;"  alt="Logo 11">
           

                   

                    <br>
                    <div style="margin-top: 100px;">
                    <img *ngIf="whatsapp" src="assets/imagenes/iconos/whatsapp.svg" (mouseover)="cambiarW()"  style="width: 40px; margin-left: 20px;cursor: pointer;" alt="">
                    <img *ngIf="whatsappColor" src="assets/imagenes/iconos/whatsappColor.svg" (mouseout)="cambiarWBlanco()" style="width: 40px; margin-left: 20px; cursor: pointer;" alt="">
                    <img *ngIf="instagram" src="assets/imagenes/iconos/instagram.svg" (mouseover)="cambiarI()" style="cursor: pointer;width: 40px; margin-left: 20px;" alt="">
                    <img *ngIf="instagramColor" src="assets/imagenes/iconos/instagramColor.svg" (mouseout)="cambiarIBlanco()" style="cursor: pointer;width: 40px; margin-left: 20px;" alt="">
                    <img *ngIf="facebook" src="assets/imagenes/iconos/facebook.svg" (mouseover)="cambiarF()" style="cursor: pointer;width: 40px; height: 40px; margin-left: 20px;" alt="">
                    <img *ngIf="facebookColor" src="assets/imagenes/iconos/facebookColor.svg" (mouseout)="cambiarFBlanco()" style="cursor: pointer;width: 40px; height: 40px; margin-left: 20px;" alt="">                
                    <img *ngIf="link" src="assets/imagenes/iconos/link.svg" (mouseover)="cambiarL()" style="width: 40px; margin-left: 20px;" alt="">
                    <img *ngIf="linkColor" src="assets/imagenes/iconos/linkColor.svg" (mouseout)="cambiarLBlanco()" style="cursor: pointer;width: 40px; margin-left: 20px;" alt="">
                  </div>
                    <br>
                    <br>
                    <p style="color: gray;">2023 contacto slig.com 
                    <br>Copyright - SL Research Colombia S.A.S. <br>
Todos los derechos reservados. </p>
                  </div>
                  <!-- Logo 2 -->
                  <div class="col-md-6" style="color: white;">

                    <div class="row" style="margin-bottom: 20px;">
                      <div class="col-md-4">
                        
                      </div>
                    <div class="col-md-4">
                      <span style="cursor: pointer;" [routerLink]="['/nosotros']">Nosotros</span>
                    </div>

                    
                    <div class="col-md-4">
                      <span style="cursor: pointer;">Academia </span>
                    </div>
                  </div>

                  <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-4">
                      
                    </div>
                  <div class="col-md-4">
                    <span style="cursor: pointer;" [routerLink]="['/modelos']">Modelo</span>
                  </div>

                  <div class="col-md-4">
                    <span style="cursor: pointer;">Contáctanos</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    
                  </div>
                <div class="col-md-4">
                  <span style="cursor: pointer;" [routerLink]="['/soluciones']">Soluciones</span>
                </div>

                <div class="col-md-4">
                  <span style="cursor: pointer;" [routerLink]="['/blog']">Blog</span>
                </div>
              </div>

              <div class="row" style="margin-bottom: 20px; margin-top: 40px;">
                <div class="col-md-4">
                  
                </div>
              <div class="col-md-3">
                <img src="assets/imagenes/iconos/logofooter.svg" style="width: 100%;" alt="">
              </div>

              <div class="col-md-5">
                <p style="font-size: 10px; margin-top: -5px;">SL Research Colombia S.A.S hace parte <br> de la Asociación de empresas de <br> investigación de mercados de opinión pública</p>
              </div>

            </div>
                    
                  </div>
               
                </div>
    
      
    </div>

    <div class="col-md-1"></div>

   

</div>

  

</footer>
<!-- Fin  footer  -->